In [1]:
%load_ext sql

In [3]:
%%sql
mysql+pymysql://w-alkao:mysqlpassword@localhost

In [9]:
%%sql
CREATE DATABASE livestock CHARACTER SET "utf8";

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [10]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[('information_schema',),
 ('livestock',),
 ('mysql',),
 ('ouf',),
 ('performance_schema',),
 ('sys',)]

In [11]:
%sql USE livestock;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [12]:
%%sql

CREATE TABLE animal (
  id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
  species VARCHAR(40) NOT NULL,
  sex CHAR(1),
  birthdate DATETIME NOT NULL,
  name VARCHAR(10),
  comments TEXT,
  PRIMARY KEY(id)
) ENGINE=INNODB;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [13]:
%sql SHOW TABLES;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('animal',)]

In [14]:
%sql DESCRIBE animal;

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[('id', 'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('species', 'varchar(40)', 'NO', '', None, ''),
 ('sex', 'char(1)', 'YES', '', None, ''),
 ('birthdate', 'datetime', 'NO', '', None, ''),
 ('name', 'varchar(10)', 'YES', '', None, ''),
 ('comments', 'text', 'YES', '', None, '')]