In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://w-alkao:mypassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE ap

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

### Work with string data

#### Summary of the string functions

In [39]:
%%sql # concatenates strings

SELECT CONCAT('Last', 'First') AS result

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('LastFirst',)]

In [42]:
%%sql # concatenates string with the specified separator string

SELECT CONCAT_WS('*', 'Last', 'First', 'Second') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Last*First*Second',)]

In [43]:
%%sql # same result with the precedent

SELECT CONCAT('Last', '*', 'First', '*', 'Second') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Last*First*Second',)]

In [44]:
%%sql # returns string with any leading spaces removed

SELECT LTRIM('           MySql            ') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('MySql            ',)]

In [18]:
%%sql # returns string with any trailing spaces removed

SELECT RTRIM('            MySql    ') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('            MySql',)]

In [45]:
%%sql # returns string with any leading and trailing spaces removed

SELECT TRIM('      MySql     ') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('MySql',)]

In [46]:
%%sql # returns strings without leading ****

SELECT TRIM(LEADING '*' FROM '********MyName******') AS resutl

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('MyName******',)]

In [47]:
%%sql # returns strings without trailing *****

SELECT TRIM(TRAILING '*' FROM '********MyName******') AS resutl

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('********MyName',)]

In [48]:
%%sql # returns strings without leading and trailing *****

SELECT TRIM(BOTH '*' FROM '********MyName******') AS resutl

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('MyName',)]

In [23]:
%%sql # returns a string converted to lowercase letters

SELECT LOWER('MySQL') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('mysql',)]

In [24]:
%%sql # returns the string converted to uppercase letters

SELECT UPPER('mysql');

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('MYSQL',)]

In [58]:
%%sql # returns 3 number of character from the beginning of the string

SELECT LEFT('Mysql', 3) AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Mys',)]

In [59]:
%%sql # returns 3 numbers of character from the end of the string

SELECT RIGHT('Mysql', 3) AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('sql',)]

In [66]:
%%sql # returns the substring from the string starting at position 7 with 4 character long

SELECT SUBSTRING('(559) 555-1212', 7, 4) AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('555-',)]

In [72]:
%%sql # same with the previous, starting at position 6 with 11 characters long

SELECT SUBSTRING('I am learing MySQL', 6, 11) AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('learing MyS',)]

In [64]:
%%sql # returns the substring before the seconde '.'

SELECT SUBSTRING_INDEX('https://www.github.com', '.', 2) AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('https://www.github',)]

In [65]:
%%sql # returns the substring before the seconde '.' starting from the end

SELECT SUBSTRING_INDEX('https://www.github.com', '.', -2) AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('github.com',)]

In [49]:
%%sql # returns the number of characters in the string

SELECT LENGTH('MySQL') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(5,)]

In [50]:
%%sql # same with precedent with spaces added

SELECT LENGTH('    MySQL   ') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(12,)]

In [54]:
%%sql # returns the positions of the first occurence of 'sql' in text

SELECT LOCATE('sql', 'https://www.mysql.com/mysql') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(15,)]

In [57]:
%%sql # returns the positions of the first occurence of 'sql' in text starting at the position 16

SELECT LOCATE('sql', 'https://www.mysql.com/mysql', 16) AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(25,)]

In [77]:
%%sql # replace all '5' with '*'

SELECT REPLACE('(559) 555-1212', '5', '*') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('(**9) ***-1212',)]

In [87]:
%%sql # insert 'Myrach's' at position 1 and replace 3 character in the string

SELECT INSERT('MySQL', 1, 3, "Murach's ") AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[("Murach's QL",)]

In [88]:
%%sql # returns the string with the characters in reverse order

SELECT REVERSE('MySQL') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('LQSyM',)]

In [21]:
%%sql # add "MySQL" to the begining of the string and return 18 characters long

SELECT LPAD('I am learning', 18, 'MySQL') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('MySQLI am learning',)]

In [22]:
%%sql # add "MySQL" to the end of the string and returns 20 characters long

SELECT RPAD('I am learning', 20, 'MySQl') AS result;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('I am learningMySQlMy',)]

In [25]:
%%sql # returns the space character repeated 15 times

SELECT "I am learning" AS text1, SPACE(15), "Mysql" AS tex2;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('I am learning', '               ', 'Mysql')]

In [27]:
%%sql # repeat "mysql" 8 times

SELECT REPEAT('MySQl', 8) AS resutl;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('MySQlMySQlMySQlMySQlMySQlMySQlMySQlMySQl',)]

#### Some example of using functions with our tables

In [29]:
%sql SELECT * FROM Vendors;

 * mysql+pymysql://w-alkao:***@localhost
122 rows affected.

[(1, 'US Postal Service', 'Attn:  Supt. Window Services', 'PO Box 7005', 'Madison', 'WI', '53707', '(800) 555-1205', 'Alberto', 'Francesco', 1, 552),
 (2, 'National Information Data Ctr', 'PO Box 96621', None, 'Washington', 'DC', '20120', '(301) 555-8950', 'Irvin', 'Ania', 3, 540),
 (3, 'Register of Copyrights', 'Library Of Congress', None, 'Washington', 'DC', '20559', None, 'Liana', 'Lukas', 3, 403),
 (4, 'Jobtrak', '1990 Westwood Blvd Ste 260', None, 'Los Angeles', 'CA', '90025', '(800) 555-8725', 'Quinn', 'Kenzie', 3, 572),
 (5, 'Newbrige Book Clubs', '3000 Cindel Drive', None, 'Washington', 'NJ', '07882', '(800) 555-9980', 'Marks', 'Michelle', 4, 394),
 (6, 'California Chamber Of Commerce', '3255 Ramos Cir', None, 'Sacramento', 'CA', '95827', '(916) 555-6670', 'Mauro', 'Anton', 3, 572),
 (7, "Towne Advertiser's Mailing Svcs", 'Kevin Minder', '3441 W Macarthur Blvd', 'Santa Ana', 'CA', '92704', None, 'Maegen', 'Ted', 3, 540),
 (8, 'BFI Industries', 'PO Box 9369', None, 'Fresno', 'CA', '93792', '(559) 555-1551', 'Kaleigh', 'Erick', 3, 521),
 (9, 'Pacific Gas & Electric', 'Box 52001', None, 'San Francisco', 'CA', '94152', '(800) 555-6081', 'Anthoni', 'Kaitlyn', 3, 521),
 (10, 'Robbins Mobile Lock And Key', '4669 N Fresno', None, 'Fresno', 'CA', '93726', '(559) 555-9375', 'Leigh', 'Bill', 2, 523),
 (11, 'Bill Marvin Electric Inc', '4583 E Home', None, 'Fresno', 'CA', '93703', '(559) 555-5106', 'Hostlery', 'Kaitlin', 2, 523),
 (12, 'City Of Fresno', 'PO Box 2069', None, 'Fresno', 'CA', '93718', '(559) 555-9999', 'Mayte', 'Kendall', 3, 574),
 (13, 'Golden Eagle Insurance Co', 'PO Box 85826', None, 'San Diego', 'CA', '92186', None, 'Blanca', 'Korah', 3, 590),
 (14, 'Expedata Inc', '4420 N. First Street, Suite 108', None, 'Fresno', 'CA', '93726', '(559) 555-9586', 'Quintin', 'Marvin', 3, 589),
 (15, 'ASC Signs', '1528 N Sierra Vista', None, 'Fresno', 'CA', '93703', None, 'Darien', 'Elisabeth', 1, 546),
 (16, 'Internal Revenue Service', None, None, 'Fresno', 'CA', '93888', None, 'Aileen', 'Joan', 1, 235),
 (17, 'Blanchard & Johnson Associates', '27371 Valderas', None, 'Mission Viejo', 'CA', '92691', '(214) 555-3647', 'Keeton', 'Gonzalo', 3, 540),
 (18, 'Fresno Photoengraving Company', '1952 "H" Street', 'P.O. Box 1952', 'Fresno', 'CA', '93718', '(559) 555-3005', 'Chaddick', 'Derek', 3, 403),
 (19, 'Crown Printing', '1730 "H" St', None, 'Fresno', 'CA', '93721', '(559) 555-7473', 'Randrup', 'Leann', 2, 400),
 (20, 'Diversified Printing & Pub', '2632 Saturn St', None, 'Brea', 'CA', '92621', '(714) 555-4541', 'Lane', 'Vanesa', 3, 400),
 (21, 'The Library Ltd', '7700 Forsyth', None, 'St Louis', 'MO', '63105', '(314) 555-8834', 'Marques', 'Malia', 3, 540),
 (22, 'Micro Center', '1555 W Lane Ave', None, 'Columbus', 'OH', '43221', '(614) 555-4435', 'Evan', 'Emily', 2, 160),
 (23, 'Yale Industrial Trucks-Fresno', '3711 W Franklin', None, 'Fresno', 'CA', '93706', '(559) 555-2993', 'Alexis', 'Alexandro', 3, 532),
 (24, 'Zee Medical Service Co', '4221 W Sierra Madre #104', None, 'Washington', 'IA', '52353', None, 'Hallie', 'Juliana', 3, 570),
 (25, 'California Data Marketing', '2818 E Hamilton', None, 'Fresno', 'CA', '93721', '(559) 555-3801', 'Jonessen', 'Moises', 4, 540),
 (26, 'Small Press', '121 E Front St - 4th Floor', None, 'Traverse City', 'MI', '49684', None, 'Colette', 'Dusty', 3, 540),
 (27, 'Rich Advertising', '12 Daniel Road', None, 'Fairfield', 'NJ', '07004', '(201) 555-9742', 'Neil', 'Ingrid', 3, 540),
 (29, 'Vision Envelope & Printing', 'PO Box 3100', None, 'Gardena', 'CA', '90247', '(310) 555-7062', 'Raven', 'Jamari', 3, 551),
 (30, 'Costco', 'Fresno Warehouse', '4500 W Shaw', 'Fresno', 'CA', '93711', None, 'Jaquan', 'Aaron', 3, 570),
 (31, 'Enterprise Communications Inc', '1483 Chain Bridge Rd, Ste 202', None, 'Mclean', 'VA', '22101', '(770) 555-9558', 'Lawrence', 'Eileen', 2, 536),
 (32, 'RR Bowker', 'PO Box 31', None, 'East Brunswick', 'NJ', '08810', '(800) 555-8110', 'Essence', 'Marjorie', 3, 532),
 (33, 'Nielson', 'Ohio Valley Litho Division', 'Location #0470', 'Cincinnati', 'OH', '45264', None, 'Brooklynn', 'Keely', 2, 541),
 (34, 'IBM', 'PO Box 61000', None, 'San Francisco', 'CA', '94161', '(800) 555-4426', 'Camron', 'Trentin', 1, 160),
 (35, 'Cal State Termite', 'PO Box 956', None, 'Selma', 'CA', '93662', '(559) 555-1534', 'Hunter', 'Demetrius', 2, 523),
 (36, 'Graylift', 'PO Box 2808', None, 'Fresno', 'CA', '93745', '(559) 555-6621', 'Sydney', 'Deangelo', 3, 532),
 (37, 'Blue Cross', 'PO Box 9061', None, 'Oxnard', 'CA', '93031', '(800) 555-0912', 'Eliana', 'Nikolas', 3, 510),
 (38, "Venture Communications Int'l", '60 Madison Ave', None, 'New York', 'NY', '10010', '(212) 555-4800', 'Neftaly', 'Thalia', 3, 540),
 (39, 'Custom Printing Company', 'PO Box 7028', None, 'St Louis', 'MO', '63177', '(301) 555-1494', 'Myles', 'Harley', 3, 540),
 (40, 'Nat Assoc of College Stores', '500 East Lorain Street', None, 'Oberlin', 'OH', '44074', None, 'Bernard', 'Lucy', 3, 572),
 (41, 'Shields Design', '415 E Olive Ave', None, 'Fresno', 'CA', '93728', '(559) 555-8060', 'Kerry', 'Rowan', 2, 403),
 (42, 'Opamp Technical Books', '1033 N Sycamore Ave.', None, 'Los Angeles', 'CA', '90038', '(213) 555-4322', 'Paris', 'Gideon', 3, 572),
 (43, 'Capital Resource Credit', 'PO Box 39046', None, 'Minneapolis', 'MN', '55439', '(612) 555-0057', 'Maxwell', 'Jayda', 3, 589),
 (44, 'Courier Companies, Inc', 'PO Box 5317', None, 'Boston', 'MA', '02206', '(508) 555-6351', 'Antavius', 'Troy', 4, 403),
 (45, 'Naylor Publications Inc', 'PO Box 40513', None, 'Jacksonville', 'FL', '32231', '(800) 555-6041', 'Gerald', 'Kristofer', 3, 572),
 (46, 'Open Horizons Publishing', 'Book Marketing Update', 'PO Box 205', 'Fairfield', 'IA', '52556', '(515) 555-6130', 'Damien', 'Deborah', 2, 540),
 (47, 'Baker & Taylor Books', 'Five Lakepointe Plaza, Ste 500', '2709 Water Ridge Parkway', 'Charlotte', 'NC', '28217', '(704) 555-3500', 'Bernardo', 'Brittnee', 3, 572),
 (48, 'Fresno County Tax Collector', 'PO Box 1192', None, 'Fresno', 'CA', '93715', '(559) 555-3482', 'Brenton', 'Kila', 3, 574),
 (49, 'Mcgraw Hill Companies', 'PO Box 87373', None, 'Chicago', 'IL', '60680', '(614) 555-3663', 'Holbrooke', 'Rashad', 3, 572),
 (50, 'Publishers Weekly', 'Box 1979', None, 'Marion', 'OH', '43305', '(800) 555-1669', 'Carrollton', 'Priscilla', 3, 572),
 (51, 'Blue Shield of California', 'PO Box 7021', None, 'Anaheim', 'CA', '92850', '(415) 555-5103', 'Smith', 'Kylie', 3, 510),
 (52, 'Aztek Label', 'Accounts Payable', '1150 N Tustin Ave', 'Anaheim', 'CA', '92807', '(714) 555-9000', 'Griffin', 'Brian', 3, 551),
 (53, 'Gary McKeighan Insurance', '3649 W Beechwood Ave #101', None, 'Fresno', 'CA', '93711', '(559) 555-2420', 'Jair', 'Caitlin', 3, 590),
 (54, 'Ph Photographic Services', '2384 E Gettysburg', None, 'Fresno', 'CA', '93726', '(559) 555-0765', 'Cheyenne', 'Kaylea', 3, 540),
 (55, 'Quality Education Data', 'PO Box 95857', None, 'Chicago', 'IL', '60694', '(800) 555-5811', 'Misael', 'Kayle', 2, 540),
 (56, 'Springhouse Corp', 'PO Box 7247-7051', None, 'Philadelphia', 'PA', '19170', '(215) 555-8700', 'Maeve', 'Clarence', 3, 523),
 (57, 'The Windows Deck', '117 W Micheltorena Top Floor', None, 'Santa Barbara', 'CA', '93101', '(800) 555-3353', 'Wood', 'Liam', 3, 536),
 (58, 'Fresno Rack & Shelving Inc', '4718 N Bendel Ave', None, 'Fresno', 'CA', '93722', None, 'Baylee', 'Dakota', 2, 523),
 (59, 'Publishers Marketing Assoc', '627 Aviation Way', None, 'Manhatttan Beach', 'CA', '90266', '(310) 555-2732', 'Walker', 'Jovon', 3, 572),
 (60, 'The Mailers Guide Co', 'PO Box 1550', None, 'New Rochelle', 'NY', '10802', None, 'Lacy', 'Karina', 3, 540),
 (61, 'American Booksellers Assoc', '828 S Broadway', None, 'Tarrytown', 'NY', '10591', '(800) 555-0037', 'Angelica', 'Nashalie', 3, 574),
 (62, 'Cmg Information Services', 'PO Box 2283', None, 'Boston', 'MA', '02107', '(508) 555-7000', 'Randall', 'Yash', 3, 540),
 (63, "Lou Gentile's Flower Basket", '722 E Olive Ave', None, 'Fresno', 'CA', '93728', '(559) 555-6643', 'Anum', 'Trisha', 1, 570),
 (64, 'Texaco', 'PO Box 6070', None, 'Inglewood', 'CA', '90312', None, 'Oren', 'Grace', 3, 582),
 (65, 'The Drawing Board', 'PO Box 4758', None, 'Carol Stream', 'IL', '60197', None, 'Mckayla', 'Jeffery', 2, 551),
 (66, 'Ascom Hasler Mailing Systems', 'PO Box 895', None, 'Shelton', 'CT', '06484', None, 'Lewis', 'Darnell', 3, 532),
 (67, 'Bill Jones', 'Secretary Of State', 'PO Box 944230', 'Sacramento', 'CA', '94244', None, 'Deasia', 'Tristin', 3, 589),
 (68, 'Computer Library', '3502 W Greenway #7', None, 'Phoenix', 'AZ', '85023', '(602) 547-0331', 'Aryn', 'Leroy', 3, 540),
 (69, 'Frank E Wilber Co', '2437 N Sunnyside', None, 'Fresno', 'CA', '93727', '(559) 555-1881', 'Millerton', 'Johnathon', 3, 532),
 (70, 'Fresno Credit Bureau', 'PO Box 942', None, 'Fresno', 'CA', '93714', '(559) 555-7900', 'Braydon', 'Anne', 2, 555),
 (71, 'The Fresno Bee', '1626 E Street', None, 'Fresno', 'CA', '93786', '(559) 555-4442', 'Colton', 'Leah', 2, 572),
 (72, 'Data Reproductions Corp', '4545 Glenmeade Lane', None, 'Auburn Hills', 'MI', '48326', '(810) 555-3700', 'Arodondo', 'Cesar', 3, 400),
 (73, 'Executive Office Products', '353 E Shaw Ave', None, 'Fresno', 'CA', '93710', '(559) 555-1704', 'Danielson', 'Rachael', 2, 570),
 (74, 'Leslie Company', 'PO Box 610', None, 'Olathe', 'KS', '66061', '(800) 255-6210', 'Alondra', 'Zev', 3, 570),
 (75, 'Retirement Plan Consultants', '6435 North Palm Ave, Ste 101', None, 'Fresno', 'CA', '93704', '(559) 555-7070', 'Edgardo', 'Salina', 3, 589),
 (76, 'Simon Direct Inc', '4 Cornwall Dr Ste 102', None, 'East Brunswick', 'NJ', '08816', '(908) 555-7222', 'Bradlee', 'Daniel', 2, 540),
 (77, 'State Board Of Equalization', 'PO Box 942808', None, 'Sacramento', 'CA', '94208', '(916) 555-4911', 'Dean', 'Julissa', 1, 631),
 (78, 'The Presort Center', '1627 "E" Street', None, 'Fresno', 'CA', '93706', '(559) 555-6151', 'Marissa', 'Kyle', 3, 540),
 (79, 'Valprint', 'PO Box 12332', None, 'Fresno', 'CA', '93777', '(559) 555-3112', 'Warren', 'Quentin', 3, 551),
 (80, 'Cardinal Business Media, Inc.', 'P O Box 7247-7844', None, 'Philadelphia', 'PA', '19170', '(215) 555-1500', 'Eulalia', 'Kelsey', 2, 540),
 (81, 'Wang Laboratories, Inc.', 'P.O. Box 21209', None, 'Pasadena', 'CA', '91185', '(800) 555-0344', 'Kapil', 'Robert', 2, 160),
 (82, "Reiter's Scientific & Pro Books", '2021 K Street Nw', None, 'Washington', 'DC', '20006', '(202) 555-5561', 'Rodolfo', 'Carlee', 2, 572),
 (83, 'Ingram', 'PO Box 845361', None, 'Dallas', 'TX', '75284', None, 'Yobani', 'Trey', 2, 541),
 (84, 'Boucher Communications Inc', '1300 Virginia Dr. Ste 400', None, 'Fort Washington', 'PA', '19034', '(215) 555-8000', 'Carson', 'Julian', 3, 540),
 (85, 'Champion Printing Company', '3250 Spring Grove Ave', None, 'Cincinnati', 'OH', '45225', '(800) 555-1957', 'Clifford', 'Jillian', 3, 540),
 (86, 'Computerworld', 'Department #1872', 'PO Box 61000', 'San Francisco', 'CA', '94161', '(617) 555-0700', 'Lloyd', 'Angel', 1, 572),
 (87, 'DMV Renewal', 'PO Box 942894', None, 'Sacramento', 'CA', '94294', None, 'Josey', 'Lorena', 4, 568),
 (88, 'Edward Data Services', '4775 E Miami River Rd', None, 'Cleves', 'OH', '45002', '(513) 555-3043', 'Helena', 'Jeanette', 1, 540),
 (89, 'Evans Executone Inc', '4918 Taylor Ct', None, 'Turlock', 'CA', '95380', None, 'Royce', 'Hannah', 1, 522),
 (90, 'Wakefield Co', '295 W Cromwell Ave Ste 106', None, 'Fresno', 'CA', '93711', '(559) 555-4744', 'Rothman', 'Nathanael', 2, 170),
 (91, 'McKesson Water Products', 'P O Box 7126', None, 'Pasadena', 'CA', '91109', '(800) 555-7009', 'Destin', 'Luciano', 2, 570),
 (92, 'Zip Print & Copy Center', 'PO Box 12332', None, 'Fresno', 'CA', '93777', '(233) 555-6400', 'Javen', 'Justin', 2, 540),
 (93, 'AT&T', 'PO Box 78225', None, 'Phoenix', 'AZ', '85062', None, 'Wesley', 'Alisha', 3, 522),
 (94, 'Abbey Office Furnishings', '4150 W Shaw Ave', None, 'Fresno', 'CA', '93722', '(559) 555-8300', 'Francis', 'Kyra', 2, 150),
 (95, 'Pacific Bell', None, None, 'Sacramento', 'CA', '95887', '(209) 555-7500', 'Nickalus', 'Kurt', 2, 522),
 (96, 'Wells Fargo Bank', 'Business Mastercard', 'P.O. Box 29479', 'Phoenix', 'AZ', '85038', '(947) 555-3900', 'Damion', 'Mikayla', 2, 160),
 (97, 'Compuserve', 'Dept L-742', None, 'Columbus', 'OH', '43260', '(614) 555-8600', 'Armando', 'Jan', 2, 572),
 (98, 'American Express', 'Box 0001', None, 'Los Angeles', 'CA', '90096', '(800) 555-3344', 'Story', 'Kirsten', 2, 160),
 (99, 'Bertelsmann Industry Svcs. Inc', '28210 N Avenue Stanford', None, 'Valencia', 'CA', '91355', '(805) 555-0584', 'Potter', 'Lance', 3, 400),
 (100, 'Cahners Publishing Company', 'Citibank Lock Box 4026', '8725 W Sahara Zone 1127', 'The Lake', 'NV', '89163', '(301) 555-2162', 'Jacobsen', 'Samuel', 4, 540),
 (101, 'California Business Machines', 'Gallery Plz', '5091 N Fresno', 'Fresno', 'CA', '93710', '(559) 555-5570', 'Rohansen', 'Anders', 2, 170),
 (102, 'Coffee Break Service', 'PO Box 1091', None, 'Fresno', 'CA', '93714', '(559) 555-8700', 'Smitzen', 'Jeffrey', 4, 570),
 (103, 'Dean Witter Reynolds', '9 River Pk Pl E 400', None, 'Boston', 'MA', '02134', '(508) 555-8737', 'Johnson', 'Vance', 5, 589),
 (104, 'Digital Dreamworks', '5070 N Sixth Ste. 71', None, 'Fresno', 'CA', '93711', None, 'Elmert', 'Ron', 3, 589),
 (105, 'Dristas Groom & McCormick', '7112 N Fresno St Ste 200', None, 'Fresno', 'CA', '93720', '(559) 555-8484', 'Aaronsen', 'Thom', 3, 591),
 (106, 'Ford Motor Credit Company', 'Dept 0419', None, 'Los Angeles', 'CA', '90084', '(800) 555-7000', 'Snyder', 'Karen', 3, 582),
 (107, 'Franchise Tax Board', 'PO Box 942857', None, 'Sacramento', 'CA', '94257', None, 'Prado', 'Anita', 4, 507),
 (108, 'Gostanian General Building', '427 W Bedford #102', None, 'Fresno', 'CA', '93711', '(559) 555-5100', 'Bragg', 'Walter', 4, 523),
 (109, 'Kent H Landsberg Co', 'File No 72686', 'PO Box 61000', 'San Francisco', 'CA', '94160', '(916) 555-8100', 'Stevens', 'Wendy', 3, 540),
 (110, 'Malloy Lithographing Inc', '5411 Jackson Road', 'PO Box 1124', 'Ann Arbor', 'MI', '48106', '(313) 555-6113', 'Regging', 'Abe', 3, 400),
 (111, 'Net Asset, Llc', '1315 Van Ness Ave Ste. 103', None, 'Fresno', 'CA', '93721', None, 'Kraggin', 'Laura', 1, 572),
 (112, 'Office Depot', 'File No 81901', None, 'Los Angeles', 'CA', '90074', '(800) 555-1711', 'Pinsippi', 'Val', 3, 570),
 (113, 'Pollstar', '4697 W Jacquelyn Ave', None, 'Fresno', 'CA', '93722', '(559) 555-2631', 'Aranovitch', 'Robert', 5, 520),
 (114, 'Postmaster', 'Postage Due Technician', '1900 E Street', 'Fresno', 'CA', '93706', '(559) 555-7785', 'Finklestein', 'Fyodor', 1, 552),
 (115, 'Roadway Package System, Inc', 'Dept La 21095', None, 'Pasadena', 'CA', '91185', None, 'Smith', 'Sam', 4, 553),
 (116, 'State of California', 'Employment Development Dept', 'PO Box 826276', 'Sacramento', 'CA', '94230', '(209) 555-5132', 'Articunia', 'Mercedez', 1, 631),
 (117, 'Suburban Propane', '2874 S Cherry Ave', None, 'Fresno', 'CA', '93706', '(559) 555-2770', 'Spivak', 'Harold', 3, 521),
 (118, 'Unocal', 'P.O. Box 860070', None, 'Pasadena', 'CA', '91186', '(415) 555-7600', 'Bluzinski', 'Rachael', 3, 582),
 (119, 'Yesmed, Inc', 'PO Box 2061', None, 'Fresno', 'CA', '93718', '(559) 555-0600', 'Hernandez', 'Reba', 2, 589),
 (120, 'Dataforms/West', '1617 W. Shaw Avenue', 'Suite F', 'Fresno', 'CA', '93711', None, 'Church', 'Charlie', 3, 551),
 (121, 'Zylka Design', '3467 W Shaw Ave #103', None, 'Fresno', 'CA', '93711', '(559) 555-8625', 'Ronaldsen', 'Jaime', 3, 403),
 (122, 'United Parcel Service', 'P.O. Box 505820', None, 'Reno', 'NV', '88905', '(800) 555-0855', 'Beauregard', 'Violet', 3, 553),
 (123, 'Federal Express Corporation', 'P.O. Box 1140', 'Dept A', 'Memphis', 'TN', '38101', '(800) 555-4091', 'Bucket', 'Charlie', 3, 553)]

In [28]:
%%sql # return vendor_name, concatenation of vendor first and last name, last 8 digits of vendor number
      # where the vendor phone starts with (559

SELECT vendor_name,
  CONCAT_WS(', ', vendor_contact_last_name, vendor_contact_first_name) AS contact_name,
  RIGHT(vendor_phone, 8) AS phone
FROM Vendors
WHERE LEFT(vendor_phone, 4) = '(559'
ORDER BY contact_name;

 * mysql+pymysql://w-alkao:***@localhost
34 rows affected.

[('Dristas Groom & McCormick', 'Aaronsen, Thom', '555-8484'),
 ('Yale Industrial Trucks-Fresno', 'Alexis, Alexandro', '555-2993'),
 ("Lou Gentile's Flower Basket", 'Anum, Trisha', '555-6643'),
 ('Pollstar', 'Aranovitch, Robert', '555-2631'),
 ('Gostanian General Building', 'Bragg, Walter', '555-5100'),
 ('Fresno Credit Bureau', 'Braydon, Anne', '555-7900'),
 ('Fresno County Tax Collector', 'Brenton, Kila', '555-3482'),
 ('Fresno Photoengraving Company', 'Chaddick, Derek', '555-3005'),
 ('Ph Photographic Services', 'Cheyenne, Kaylea', '555-0765'),
 ('The Fresno Bee', 'Colton, Leah', '555-4442'),
 ('Executive Office Products', 'Danielson, Rachael', '555-1704'),
 ('Retirement Plan Consultants', 'Edgardo, Salina', '555-7070'),
 ('Postmaster', 'Finklestein, Fyodor', '555-7785'),
 ('Abbey Office Furnishings', 'Francis, Kyra', '555-8300'),
 ('Yesmed, Inc', 'Hernandez, Reba', '555-0600'),
 ('Bill Marvin Electric Inc', 'Hostlery, Kaitlin', '555-5106'),
 ('Cal State Termite', 'Hunter, Demetrius', '555-1534'),
 ('Gary McKeighan Insurance', 'Jair, Caitlin', '555-2420'),
 ('California Data Marketing', 'Jonessen, Moises', '555-3801'),
 ('BFI Industries', 'Kaleigh, Erick', '555-1551'),
 ('Shields Design', 'Kerry, Rowan', '555-8060'),
 ('Robbins Mobile Lock And Key', 'Leigh, Bill', '555-9375'),
 ('The Presort Center', 'Marissa, Kyle', '555-6151'),
 ('City Of Fresno', 'Mayte, Kendall', '555-9999'),
 ('Frank E Wilber Co', 'Millerton, Johnathon', '555-1881'),
 ('Expedata Inc', 'Quintin, Marvin', '555-9586'),
 ('Crown Printing', 'Randrup, Leann', '555-7473'),
 ('California Business Machines', 'Rohansen, Anders', '555-5570'),
 ('Zylka Design', 'Ronaldsen, Jaime', '555-8625'),
 ('Wakefield Co', 'Rothman, Nathanael', '555-4744'),
 ('Coffee Break Service', 'Smitzen, Jeffrey', '555-8700'),
 ('Suburban Propane', 'Spivak, Harold', '555-2770'),
 ('Graylift', 'Sydney, Deangelo', '555-6621'),
 ('Valprint', 'Warren, Quentin', '555-3112')]

In [30]:
%sql USE ex;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [31]:
%sql SHOW TABLES;

 * mysql+pymysql://w-alkao:***@localhost
14 rows affected.

[('Active_invoices',),
 ('Color_sample',),
 ('Customers',),
 ('Date_sample',),
 ('Departments',),
 ('Employees',),
 ('Engine_sample',),
 ('Float_sample',),
 ('Null_sample',),
 ('Paid_invoices',),
 ('Projects',),
 ('Sales_reps',),
 ('Sales_totals',),
 ('String_sample',)]

In [36]:
%sql DESCRIBE String_sample

 * mysql+pymysql://w-alkao:***@localhost
2 rows affected.

[('emp_id', 'varchar(3)', 'YES', '', None, ''),
 ('emp_name', 'varchar(25)', 'YES', '', None, '')]

In [37]:
%%sql # Sort result by the string column (emp_id) that contains numbers

SELECT * 
FROM String_sample
ORDER BY emp_id;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('1', 'Lizbeth Darien'),
 ('17', 'Lance Pinos-Potter'),
 ('2', "Darnell O'Sullivan"),
 ('20', 'Jean Paul Renard'),
 ('3', 'Alisha von Strump')]

In [39]:
%%sql # Sort by result by string column explicitly cast as an integer

SELECT *
FROM String_sample
ORDER BY CAST(emp_id AS SIGNED);

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('1', 'Lizbeth Darien'),
 ('2', "Darnell O'Sullivan"),
 ('3', 'Alisha von Strump'),
 ('17', 'Lance Pinos-Potter'),
 ('20', 'Jean Paul Renard')]

In [41]:
%%sql # Sort by result by string column explicitly cast as an integer

SELECT *
FROM String_sample
ORDER BY CONVERT(emp_id, SIGNED);

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('1', 'Lizbeth Darien'),
 ('2', "Darnell O'Sullivan"),
 ('3', 'Alisha von Strump'),
 ('17', 'Lance Pinos-Potter'),
 ('20', 'Jean Paul Renard')]

In [40]:
%%sql # sort result by string colummn implicitly cast as an integer

SELECT *
FROM String_sample
ORDER BY emp_id + 0;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('1', 'Lizbeth Darien'),
 ('2', "Darnell O'Sullivan"),
 ('3', 'Alisha von Strump'),
 ('17', 'Lance Pinos-Potter'),
 ('20', 'Jean Paul Renard')]

In [42]:
%%sql # sort result by string column after it has been padded with leading zeros

SELECT LPAD(emp_id, 2, '0') AS emp_id, emp_name
FROM String_sample
ORDER BY emp_id;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('01', 'Lizbeth Darien'),
 ('02', "Darnell O'Sullivan"),
 ('03', 'Alisha von Strump'),
 ('17', 'Lance Pinos-Potter'),
 ('20', 'Jean Paul Renard')]

In [43]:
%%sql # use the substrings_index to split emp_first name and last name

SELECT emp_name,
  SUBSTRING_INDEX(emp_name, ' ', 1) AS first_name,
  SUBSTRING_INDEX(emp_name, ' ', -1) AS last_name
FROM String_sample;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('Lizbeth Darien', 'Lizbeth', 'Darien'),
 ("Darnell O'Sullivan", 'Darnell', "O'Sullivan"),
 ('Lance Pinos-Potter', 'Lance', 'Pinos-Potter'),
 ('Jean Paul Renard', 'Jean', 'Renard'),
 ('Alisha von Strump', 'Alisha', 'Strump')]

In [45]:
%%sql # Locate the position of first and second space in emp_name

SELECT emp_name,
  LOCATE(' ', emp_name) AS first_space,
  LOCATE(' ', emp_name, LOCATE(' ', emp_name) + 1) AS second_space
FROM String_sample;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('Lizbeth Darien', 8, 0),
 ("Darnell O'Sullivan", 8, 0),
 ('Lance Pinos-Potter', 6, 0),
 ('Jean Paul Renard', 5, 10),
 ('Alisha von Strump', 7, 11)]

In [47]:
%%sql # use the substrings to split emp_first name and last name

SELECT emp_name,
  SUBSTRING(emp_name, 1, LOCATE(' ', emp_name) - 1) AS first_name,
  SUBSTRING(emp_name, LOCATE(' ', emp_name) + 1) AS last_name
FROM String_sample;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('Lizbeth Darien', 'Lizbeth', 'Darien'),
 ("Darnell O'Sullivan", 'Darnell', "O'Sullivan"),
 ('Lance Pinos-Potter', 'Lance', 'Pinos-Potter'),
 ('Jean Paul Renard', 'Jean', 'Paul Renard'),
 ('Alisha von Strump', 'Alisha', 'von Strump')]

### Work with numeric data

In [5]:
%%sql # round numbers to the precision specified (0, 0, and 1) if 0 the decimal digits are omitted

SELECT ROUND(12.49, 0), ROUND(12.50, 0), ROUND(12.49, 1);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(Decimal('12'), Decimal('13'), Decimal('12.5'))]

In [8]:
%%sql # truncate number to the precision specified, if 0 the decimal digits are omitted

SELECT TRUNCATE(12.51, 0), TRUNCATE(12.49468, 3);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(Decimal('12'), Decimal('12.494'))]

In [52]:
%%sql # returns the smallest integer that is greater than or equal to the number

SELECT CEILING(12.5), CEILING(-12.5);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(13, -12)]

In [9]:
%%sql # returns the largest integer that is less than or equal to the number 

SELECT FLOOR(-12.5), FLOOR(12.5);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(-13, 12)]

In [10]:
%%sql # return the absolue value of the number

SELECT ABS(-1.25), ABS(1.25);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(Decimal('1.25'), Decimal('1.25'))]

In [11]:
%%sql # return the sign of the number (-1 for negative and 1 for positive)

SELECT SIGN(-1.25), SIGN(1.25);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(-1, 1)]

In [12]:
%%sql # return the square root of the number

SELECT SQRT(124.43), SQRT(121);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(11.154819586169918, 11.0)]

In [57]:
%%sql # return the number raised to the specified power

SELECT POWER(9,2), POWER(4, 2);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(81.0, 16.0)]

In [13]:
%%sql # return a random floating-point number between 0 and 1

SELECT RAND(), RAND();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(0.2960727124438367, 0.8988496362220958)]

In [14]:
%sql USE ex;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [15]:
%sql SELECT * FROM Float_sample;

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[(1, 0.999999999999999),
 (2, 1.0),
 (3, 1.000000000000001),
 (4, 1234.56789012345),
 (5, 999.04440209348),
 (6, 24.04849)]

In [17]:
%%sql # search for an exact value that doen't include two approximate values

SELECT *
FROM Float_sample
WHERE float_value = 1;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(2, 1.0)]

In [18]:
%%sql # search for approximate values (range of values)

SELECT *
FROM Float_sample
WHERE float_value BETWEEN 0.99 AND 1.01;

 * mysql+pymysql://w-alkao:***@localhost
3 rows affected.

[(1, 0.999999999999999), (2, 1.0), (3, 1.000000000000001)]

In [21]:
%%sql # search for rounded values

SELECT * 
FROM Float_sample
WHERE ROUND(float_value, 2) = 1.00;

 * mysql+pymysql://w-alkao:***@localhost
3 rows affected.

[(1, 0.999999999999999), (2, 1.0), (3, 1.000000000000001)]

### Work with date/time data

#### How to get the current date and time

In [25]:
%%sql # return the current local date and time

SELECT NOW(), SYSDATE(), CURRENT_TIMESTAMP();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 42, 21), datetime.datetime(2024, 7, 8, 10, 42, 21), datetime.datetime(2024, 7, 8, 10, 42, 21))]

In [28]:
%%sql # returns the current local date

SELECT CURDATE(), CURRENT_DATE();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.date(2024, 7, 8), datetime.date(2024, 7, 8))]

In [29]:
%%sql # return current local time

SELECT CURTIME(), CURRENT_TIME();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.timedelta(seconds=38757), datetime.timedelta(seconds=38757))]

In [31]:
%%sql # return the current date and time in greenwich Mean time 

SELECT UTC_DATE(), UTC_TIME();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.date(2024, 7, 8), datetime.timedelta(seconds=35250))]

#### how to parse dates and times with date/time functions

In [42]:
%%sql # return the day of the month as an integer

SELECT NOW(), DAYOFMONTH(NOW()) AS day;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 55, 14), 8)]

In [43]:
%%sql # return the month as an integer

SELECT NOW(), MONTH(NOW()) AS month;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 55, 29), 7)]

In [44]:
%%sql # returns the 4-digit year as a integer

SELECT NOW(), YEAR(NOW()) AS year;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 55, 47), 2024)]

In [45]:
%%sql # return the hours as an integer

SELECT NOW(), HOUR(NOW()) AS hour;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 56, 2), 10)]

In [46]:
%%sql # return the minute as an integer

SELECT NOW(), MINUTE(NOW()) AS minutes;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 56, 14), 56)]

In [47]:
%%sql # return the second as integer

SELECT NOW(), SECOND(NOW()) AS second;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 56, 19), 19)]

In [50]:
%%sql # return the day of the week as an integer where 1=sunday, 2= monday ...

SELECT NOW(), DAYOFWEEK(NOW()) AS day_week;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 57, 59), 2)]

In [51]:
%%sql # return the quarter of the years as integer

SELECT NOW(), QUARTER(NOW()) AS quarter_year;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 59, 2), 3)]

In [52]:
%%sql # return the day of the year as an integer

SELECT NOW(), DAYOFYEAR(NOW()) AS day_of_year

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 10, 59, 57), 190)]

In [54]:
%%sql # return the week of the year as an integer (the week starts on if arg is 0 and monday if it is 1)

SELECT NOW(), WEEK(NOW(), 0) AS sunday_week, WEEK(NOW(), 1) AS monday_week;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 11, 2, 55), 27, 28)]

In [58]:
%%sql # return the last day of the month

SELECT NOW(), LAST_DAY(NOW()) AS last_day_month;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 11, 4, 35), datetime.date(2024, 7, 31))]

In [59]:
%%sql # return the name of the day of the week

SELECT NOW(), DAYNAME(NOW()) AS day_week_name;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 11, 5, 13), 'Monday')]

In [60]:
%%sql # return the name of the month

SELECT NOW(), MONTHNAME(NOW()) AS month_name;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(datetime.datetime(2024, 7, 8, 11, 5, 44), 'July')]

In [ ]:
#### How to parse dates and t