In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://w-alkao:mypassword@localhost

In [4]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [5]:
%sql USE ap;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

### Intro to stored programs

In [18]:
%%sql #

USE ap;

DROP PROCEDURE IF EXISTS test;

CREATE PROCEDURE test()
BEGIN
  DECLARE sum_balance_due_var DECIMAL(9, 2);

  SELECT SUM(invoice_total - payment_total - credit_total)
  INTO sum_balance_due_var
  FROM Invoices
  WHERE vendor_id = 95;

  IF sum_balance_due_var > 0 THEN
    SELECT CONCAT('Balance due: $', sum_balance_due_var) AS message;
  ELSE
    SELECT 'Balance paid in full' AS message;
  END IF;
END;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [19]:
%%sql

CALL test();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Balance paid in full',)]