#### Connection to mysql

In [1]:
%load_ext sql

In [2]:
%%sql
mysql+pymysql://w-alkao:mypassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE ap;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

#### 1- Aggregate function

In [11]:
%%sql # Query that counts unpaid invoices and calculates the total due

SELECT COUNT(*) AS number_of_invoices,
  SUM(invoice_total - payment_total - credit_total) AS total_due
FROM Invoices
WHERE invoice_total - payment_total - credit_total > 0;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(16, Decimal('53935.52'))]

In [5]:
%%sql # Query that count and calculate the sum and average of invoices total after 01/2018

SELECT 'After 1/1/2018' AS selection_date,
  COUNT(*) AS number_of_invoices,
  ROUND(AVG(invoice_total), 2) AS avg_invoice_amt,
  SUM(invoice_total) AS total_invoice_amt
FROM Invoices
WHERE invoice_date > '2018-01-01';

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('After 1/1/2018', 119, Decimal('1984.92'), Decimal('236205.61'))]

In [6]:
%%sql # Query that determine the min and max of the invoice total after 

SELECT "After 1/1/2018" AS selection_date,
  COUNT(*) AS number_of_invoices,
  MAX(invoice_total) AS highest_invoice_total,
  MIN(invoice_total) AS lowest_invoice_total
FROM Invoices
WHERE invoice_date > '2018-01-01';

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('After 1/1/2018', 119, Decimal('37966.19'), Decimal('6.00'))]

In [7]:
%%sql # Select the first and last vendors with min and max

SELECT MIN(vendor_name) AS first_vendor,
  MAX(vendor_name) AS last_vendor,
  COUNT(vendor_name) AS number_of_vendors
FROM Vendors;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Abbey Office Furnishings', 'Zylka Design', 122)]

In [8]:
%%sql # Use of DISTINCT keyword 

SELECT COUNT(DISTINCT vendor_id) AS number_of_vendors,
  COUNT(vendor_id) AS number_of_invoices,
  ROUND(AVG(invoice_total), 2) AS avg_invoice_amt,
  SUM(invoice_total) AS total_invoicie_amt
FROM Invoices
WHERE invoice_date > '2018-01-01';

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(34, 119, Decimal('1984.92'), Decimal('236205.61'))]