In [1]:
%load_ext sql

In [2]:
%%sql
mysql+pymysql://w-alkao:mypassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE livestock

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [5]:
%sql SHOW TABLES;

 * mysql+pymysql://w-alkao:***@localhost
2 rows affected.

[('Animal',), ('Book',)]

## Foreign key