In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://w-alkao:mypassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE ap;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

### Intro to stored programs

In [18]:
%%sql #

USE ap;

DROP PROCEDURE IF EXISTS test;

CREATE PROCEDURE test()
BEGIN
  DECLARE sum_balance_due_var DECIMAL(9, 2);

  SELECT SUM(invoice_total - payment_total - credit_total)
  INTO sum_balance_due_var
  FROM Invoices
  WHERE vendor_id = 95;

  IF sum_balance_due_var > 0 THEN
    SELECT CONCAT('Balance due: $', sum_balance_due_var) AS message;
  ELSE
    SELECT 'Balance paid in full' AS message;
  END IF;
END;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [19]:
%%sql

CALL test();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Balance paid in full',)]

### How to write procedural code

In [9]:
%%sql  # procedure that displays a message

# DELIMITER //

CREATE PROCEDURE display_msg()
BEGIN
  SELECT 'This is a test.' AS message;
END;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [10]:
%sql CALL display_msg();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('This is a test.',)]

In [13]:
%%sql # a procedure that uses variables

CREATE PROCEDURE test_variable()
BEGIN
  DECLARE max_invoice_total DECIMAL(9, 2);
  DECLARE min_invoice_total DECIMAL(9, 2);
  DECLARE percent_difference DECIMAL(9, 4);
  DECLARE count_invoice_id INT;
  DECLARE vendor_id_var INT;

  SET vendor_id_var = 95;

  SELECT MAX(invoice_total), MIN(invoice_total), COUNT(invoice_id)
  INTO max_invoice_total, min_invoice_total, count_invoice_id
  FROM Invoices WHERE vendor_id = vendor_id_var;

  SET percent_difference = (max_invoice_total - min_invoice_total) / min_invoice_total * 100;

  SELECT CONCAT('$', max_invoice_total) AS max_invoice,
        CONCAT('$', min_invoice_total) AS min_invoice,
        CONCAT('%', ROUND(percent_difference, 2)) AS percent_diff,
        count_invoice_id AS 'Number of invoices';
END;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [17]:
%sql CALL test_variable();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('$46.21', '$16.33', '%182.98', 6)]

In [24]:
%%sql # a procedure with if statement

CREATE PROCEDURE ifcond()
BEGIN
  DECLARE first_invoice_due_date DATE;

  SELECT MIN(invoice_due_date)
  INTO first_invoice_due_date
  FROM Invoices
  WHERE invoice_total - payment_total - credit_total > 0;

  IF first_invoice_due_date < NOW() THEN
    SELECT 'Outstanding invoices are overdue!' AS message;
  ELSEIF first_invoice_due_date = NOW() THEN
    SELECT 'Outstanding invoices are due today!' AS message;
  ELSE
    SELECT 'No invoices are overdue.' AS message;
  END IF;
END;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [27]:
%sql CALL ifcond

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Outstanding invoices are overdue!',)]

In [28]:
%%sql # Case statement

CREATE PROCEDURE case_statement()
BEGIN
  DECLARE terms_id_var INT;

  SELECT terms_id INTO terms_id_var
  FROM Invoices WHERE invoice_id = 4;

  CASE terms_id_var
    WHEN 1 THEN
      SELECT 'Net due 10 days' AS terms;
    WHEN 2 THEN
      SELECT "Net due 20 days" AS terms;
    WHEN 3 THEN
      SELECT 'Net due 30 days' AS terms;
    ELSE
      SELECT 'Net due more than 30 days' AS terms;
    END CASE;
END;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [29]:
%sql CALL case_statement();

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('Net due 30 days',)]

In [42]:
%%sql # while loop 

CREATE PROCEDURE while_loop()
BEGIN
  DECLARE i INT DEFAULT 1;
  DECLARE s VARCHAR(400) DEFAULT '';

  WHILE i < 10 DO
    SET s = CONCAT(s, 'i = ', i, '\n');
    SET i = i + 1;
  END WHILE;

  SELECT s AS message;
END

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [43]:
%sql CALL while_loop;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('i = 1\ni = 2\ni = 3\ni = 4\ni = 5\ni = 6\ni = 7\ni = 8\ni = 9\n',)]

In [79]:
%%sql # repeat loop 

CREATE PROCEDURE repeat_loop()
BEGIN
  DECLARE i INT DEFAULT 0;
  DECLARE s VARCHAR(400) DEFAULT '';

  REPEAT
    SET s = CONCAT(s, 'i = ', i, '\n');
    SET i = i + 1;
  UNTIL i = 10 END REPEAT;

  SELECT s AS messag;
END

 * mysql+pymysql://w-alkao:***@localhost
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 11")
[SQL: # repeat loop

CREATE PROCEDURE repeat_loop()
BEGIN
  DECLARE i INT DEFAULT 0;
  DECLARE s VARCHAR(400) DEFAULT '';

  REPEAT
    SET s = CONCAT(s, 'i = ', i, '\n');
    SET i = i + 1;
  UNTIL i = 10 END REPEAT;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [72]:
%%sql # simple loop 

CREATE PROCEDURE simple_loop()
BEGIN
  DECLARE i INT DEFAULT 1;
  DECLARE s VARCHAR(400) DEFAULT '';

  testLoop : LOOP
    SET s = CONCAT(s, 'i = ', i, '\n');
    SET i  = i + 1;

    IF i = 10 THEN
      LEAVE testLoop;
    END IF;
  END LOOP testLoop;

  SELECT s AS message;
END;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [73]:
%sql CALL simple_loop

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('i = 1\ni = 2\ni = 3\ni = 4\ni = 5\ni = 6\ni = 7\ni = 8\ni = 9\n',)]