In [1]:
%load_ext sql

In [2]:
%%sql
mysql+pymysql://w-alkao:mysqlpassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
9 rows affected.

[('ap',),
 ('ex',),
 ('goal',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE ap

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [5]:
%sql SHOW TABLES;

 * mysql+pymysql://w-alkao:***@localhost
7 rows affected.

[('General_ledger_accounts',),
 ('Invoice_archive',),
 ('Invoice_line_items',),
 ('Invoices',),
 ('Terms',),
 ('Vendor_contacts',),
 ('Vendors',)]

## Inner join

In [10]:
%%sql #how to join two tables

SELECT invoice_number, vendor_name
FROM Vendors INNER JOIN Invoices
  ON Vendors.vendor_id = Invoices.vendor_id
ORDER BY invoice_number

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[('0-2058', 'Malloy Lithographing Inc'),
 ('0-2060', 'Malloy Lithographing Inc'),
 ('0-2436', 'Malloy Lithographing Inc'),
 ('1-200-5164', 'Federal Express Corporation'),
 ('1-202-2978', 'Federal Express Corporation'),
 ('10843', 'Yesmed, Inc'),
 ('109596', 'Coffee Break Service'),
 ('111-92R-10092', 'Pacific Bell'),
 ('111-92R-10093', 'Pacific Bell'),
 ('111-92R-10094', 'Pacific Bell'),
 ('111-92R-10095', 'Pacific Bell'),
 ('111-92R-10096', 'Pacific Bell'),
 ('111-92R-10097', 'Pacific Bell'),
 ('111897', 'Suburban Propane'),
 ('121897', 'Gostanian General Building'),
 ('125520-1', 'Evans Executone Inc'),
 ('133560', 'Cardinal Business Media, Inc.'),
 ('134116', 'Cardinal Business Media, Inc.'),
 ('2-000-2993', 'Federal Express Corporation'),
 ('203339-13', 'Abbey Office Furnishings'),
 ('21-4748363', 'Compuserve'),
 ('21-4923721', 'Compuserve'),
 ('24780512', 'Roadway Package System, Inc'),
 ('24863706', 'Roadway Package System, Inc'),
 ('24946731', 'Roadway Package System, Inc'),
 ('25022117', 'Roadway Package System, Inc'),
 ('263253241', 'Federal Express Corporation'),
 ('263253243', 'Federal Express Corporation'),
 ('263253250', 'Federal Express Corporation'),
 ('263253253', 'Federal Express Corporation'),
 ('263253257', 'Federal Express Corporation'),
 ('263253265', 'Federal Express Corporation'),
 ('263253268', 'Federal Express Corporation'),
 ('263253270', 'Federal Express Corporation'),
 ('263253273', 'Federal Express Corporation'),
 ('31359783', 'Ingram'),
 ('31361833', 'Ingram'),
 ('367447', 'Computerworld'),
 ('39104', 'Data Reproductions Corp'),
 ('4-314-3057', 'Federal Express Corporation'),
 ('4-321-2596', 'Federal Express Corporation'),
 ('4-327-7357', 'Federal Express Corporation'),
 ('4-342-8069', 'Federal Express Corporation'),
 ('40318', 'Data Reproductions Corp'),
 ('43966316', 'Federal Express Corporation'),
 ('509786', 'Bertelsmann Industry Svcs. Inc'),
 ('547479217', 'Blue Cross'),
 ('547480102', 'Blue Cross'),
 ('547481328', 'Blue Cross'),
 ('587056', 'Cahners Publishing Company'),
 ('7548906-20', 'Federal Express Corporation'),
 ('75C-90227', 'Dean Witter Reynolds'),
 ('77290', 'Pollstar'),
 ('94007005', 'Dristas Groom & McCormick'),
 ('94007069', 'Federal Express Corporation'),
 ('963253230', 'Federal Express Corporation'),
 ('963253232', 'Federal Express Corporation'),
 ('963253234', 'Federal Express Corporation'),
 ('963253235', 'Federal Express Corporation'),
 ('963253237', 'Federal Express Corporation'),
 ('963253239', 'Federal Express Corporation'),
 ('963253240', 'Federal Express Corporation'),
 ('963253242', 'Federal Express Corporation'),
 ('963253244', 'Federal Express Corporation'),
 ('963253245', 'Federal Express Corporation'),
 ('963253246', 'Federal Express Corporation'),
 ('963253248', 'Federal Express Corporation'),
 ('963253249', 'Federal Express Corporation'),
 ('963253251', 'Federal Express Corporation'),
 ('963253252', 'Federal Express Corporation'),
 ('963253254', 'Federal Express Corporation'),
 ('963253255', 'Federal Express Corporation'),
 ('963253256', 'Federal Express Corporation'),
 ('963253258', 'Federal Express Corporation'),
 ('963253260', 'Federal Express Corporation'),
 ('963253261', 'Federal Express Corporation'),
 ('963253262', 'Federal Express Corporation'),
 ('963253263', 'Federal Express Corporation'),
 ('963253264', 'Federal Express Corporation'),
 ('963253267', 'Federal Express Corporation'),
 ('963253269', 'Federal Express Corporation'),
 ('963253271', 'Federal Express Corporation'),
 ('963253272', 'Federal Express Corporation'),
 ('97-1024A', 'Wakefield Co'),
 ('97/222', 'Zylka Design'),
 ('97/465', 'Zylka Design'),
 ('97/486', 'Zylka Design'),
 ('97/488', 'Zylka Design'),
 ('97/503', 'Zylka Design'),
 ('97/522', 'Zylka Design'),
 ('97/553', 'Zylka Design'),
 ('97/553B', 'Zylka Design'),
 ('972110', 'Edward Data Services'),
 ('989319-417', 'United Parcel Service'),
 ('989319-427', 'United Parcel Service'),
 ('989319-437', 'United Parcel Service'),
 ('989319-447', 'United Parcel Service'),
 ('989319-457', 'United Parcel Service'),
 ('989319-467', 'United Parcel Service'),
 ('989319-477', 'United Parcel Service'),
 ('989319-487', 'United Parcel Service'),
 ('989319-497', 'United Parcel Service'),
 ('9982771', 'Ford Motor Credit Company'),
 ('C73-24', "Reiter's Scientific & Pro Books"),
 ('CBM9920-M-T77109', 'Postmaster'),
 ('I77271-O01', 'Wells Fargo Bank'),
 ('MABO1489', 'Wang Laboratories, Inc.'),
 ('P-0259', 'Malloy Lithographing Inc'),
 ('P-0608', 'Malloy Lithographing Inc'),
 ('P02-3772', 'Digital Dreamworks'),
 ('P02-88D77S7', 'Fresno County Tax Collector'),
 ('Q545443', 'IBM'),
 ('QP58872', 'IBM'),
 ('RTR-72-3662-X', 'Franchise Tax Board')]

In [11]:
%%sql # join tables using alias

SELECT invoice_number, vendor_name, invoice_due_date,
       invoice_total - payment_total - credit_total AS balance_due
FROM Vendors V JOIN Invoices I
  ON V.vendor_id = I.vendor_id
WHERE invoice_total - payment_total - credit_total > 0
ORDER BY invoice_due_date DESC

 * mysql+pymysql://w-alkao:***@localhost
11 rows affected.

[('547480102', 'Blue Cross', datetime.date(2018, 8, 31), Decimal('224.00')),
 ('0-2436', 'Malloy Lithographing Inc', datetime.date(2018, 8, 30), Decimal('10976.06')),
 ('9982771', 'Ford Motor Credit Company', datetime.date(2018, 8, 23), Decimal('503.20')),
 ('P-0608', 'Malloy Lithographing Inc', datetime.date(2018, 8, 22), Decimal('19351.18')),
 ('263253270', 'Federal Express Corporation', datetime.date(2018, 8, 21), Decimal('67.92')),
 ('263253273', 'Federal Express Corporation', datetime.date(2018, 8, 21), Decimal('30.75')),
 ('263253268', 'Federal Express Corporation', datetime.date(2018, 8, 20), Decimal('59.97')),
 ('963253264', 'Federal Express Corporation', datetime.date(2018, 8, 17), Decimal('52.25')),
 ('134116', 'Cardinal Business Media, Inc.', datetime.date(2018, 8, 17), Decimal('90.36')),
 ('31361833', 'Ingram', datetime.date(2018, 8, 10), Decimal('579.42')),
 ('39104', 'Data Reproductions Corp', datetime.date(2018, 8, 9), Decimal('85.31'))]

In [12]:
%%sql # using alias with on table

SELECT invoice_number, line_item_amount, line_item_description
FROM Invoices JOIN Invoice_line_items LI
  ON Invoices.invoice_id = LI.invoice_id
WHERE account_number =540
ORDER BY invoice_date

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[('I77271-O01', Decimal('478.00'), 'Publishers Marketing'),
 ('972110', Decimal('207.78'), 'Prospect list'),
 ('133560', Decimal('175.00'), 'Card deck advertising'),
 ('97/522', Decimal('765.13'), 'Catalog design'),
 ('587056', Decimal('2184.50'), 'PC card deck'),
 ('134116', Decimal('90.36'), 'Card deck advertising')]

In [13]:
%%sql # join table in another database

SELECT vendor_name, customer_last_name, customer_first_name,
       vendor_state AS state, vendor_city AS city
FROM Vendors v JOIN om.Customers c
  ON v.vendor_zip_code = c.customer_zip
ORDER BY state, city

 * mysql+pymysql://w-alkao:***@localhost
37 rows affected.

[('Wells Fargo Bank', 'Marissa', 'Kyle', 'AZ', 'Phoenix'),
 ('Aztek Label', 'Irvin', 'Ania', 'CA', 'Anaheim'),
 ('Gary McKeighan Insurance', 'Holbrooke', 'Rashad', 'CA', 'Fresno'),
 ('Wakefield Co', 'Neftaly', 'Thalia', 'CA', 'Fresno'),
 ('Wakefield Co', 'Holbrooke', 'Rashad', 'CA', 'Fresno'),
 ('Digital Dreamworks', 'Holbrooke', 'Rashad', 'CA', 'Fresno'),
 ('Digital Dreamworks', 'Neftaly', 'Thalia', 'CA', 'Fresno'),
 ("Lou Gentile's Flower Basket", 'Damien', 'Deborah', 'CA', 'Fresno'),
 ('Gary McKeighan Insurance', 'Neftaly', 'Thalia', 'CA', 'Fresno'),
 ('Gostanian General Building', 'Holbrooke', 'Rashad', 'CA', 'Fresno'),
 ('Gostanian General Building', 'Neftaly', 'Thalia', 'CA', 'Fresno'),
 ('Shields Design', 'Damien', 'Deborah', 'CA', 'Fresno'),
 ('Dataforms/West', 'Holbrooke', 'Rashad', 'CA', 'Fresno'),
 ('Costco', 'Neftaly', 'Thalia', 'CA', 'Fresno'),
 ('Costco', 'Holbrooke', 'Rashad', 'CA', 'Fresno'),
 ('Dataforms/West', 'Neftaly', 'Thalia', 'CA', 'Fresno'),
 ('Zylka Design', 'Holbrooke', 'Rashad', 'CA', 'Fresno'),
 ('Zylka Design', 'Neftaly', 'Thalia', 'CA', 'Fresno'),
 ('Opamp Technical Books', 'Baylee', 'Dakota', 'CA', 'Los Angeles'),
 ('Ford Motor Credit Company', 'Lacy', 'Karina', 'CA', 'Los Angeles'),
 ('Publishers Marketing Assoc', 'Anum', 'Trisha', 'CA', 'Manhatttan Beach'),
 ('Pacific Bell', 'Eulalia', 'Kelsey', 'CA', 'Sacramento'),
 ('IBM', 'Carson', 'Julian', 'CA', 'San Francisco'),
 ('Computerworld', 'Carson', 'Julian', 'CA', 'San Francisco'),
 ('Bertelsmann Industry Svcs. Inc', 'Nickalus', 'Kurt', 'CA', 'Valencia'),
 ("Reiter's Scientific & Pro Books", 'Damion', 'Mikayla', 'DC', 'Washington'),
 ('Register of Copyrights', 'Story', 'Kirsten', 'DC', 'Washington'),
 ('Open Horizons Publishing', 'Chaddick', 'Derek', 'IA', 'Fairfield'),
 ('Baker & Taylor Books', 'Kaleigh', 'Erick', 'NC', 'Charlotte'),
 ('Rich Advertising', 'Keeton', 'Gonzalo', 'NJ', 'Fairfield'),
 ("Venture Communications Int'l", 'Millerton', 'Johnathon', 'NY', 'New York'),
 ('American Booksellers Assoc', 'Javen', 'Justin', 'NY', 'Tarrytown'),
 ('Champion Printing Company', 'Hostlery', 'Kaitlin', 'OH', 'Cincinnati'),
 ('Edward Data Services', 'Mayte', 'Kendall', 'OH', 'Cleves'),
 ('Compuserve', 'Quintin', 'Marvin', 'OH', 'Columbus'),
 ('Micro Center', 'Blanca', 'Korah', 'OH', 'Columbus'),
 ('US Postal Service', 'Randall', 'Yash', 'WI', 'Madison')]

In [33]:
%%sql # compound join conditions

SELECT customer_first_name, customer_last_name
FROM om.Customers c JOIN ex.Employees e
  ON c.customer_first_name = e.first_name
  AND c.customer_last_name = e.last_name

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [55]:
%%sql # self-join, select vendors from cities in common with other vendors

SELECT DISTINCT v1.vendor_id, v1.vendor_name, v1.vendor_city, v1.vendor_state
FROM Vendors v1 JOIN Vendors v2
  ON v1.vendor_city = v2.vendor_city
  AND v1.vendor_state = v2.vendor_state
  AND v1.vendor_name <> v2.vendor_name
ORDER BY v1.vendor_id

 * mysql+pymysql://w-alkao:***@localhost
84 rows affected.

[(2, 'National Information Data Ctr', 'Washington', 'DC'),
 (3, 'Register of Copyrights', 'Washington', 'DC'),
 (4, 'Jobtrak', 'Los Angeles', 'CA'),
 (6, 'California Chamber Of Commerce', 'Sacramento', 'CA'),
 (8, 'BFI Industries', 'Fresno', 'CA'),
 (9, 'Pacific Gas & Electric', 'San Francisco', 'CA'),
 (10, 'Robbins Mobile Lock And Key', 'Fresno', 'CA'),
 (11, 'Bill Marvin Electric Inc', 'Fresno', 'CA'),
 (12, 'City Of Fresno', 'Fresno', 'CA'),
 (14, 'Expedata Inc', 'Fresno', 'CA'),
 (15, 'ASC Signs', 'Fresno', 'CA'),
 (16, 'Internal Revenue Service', 'Fresno', 'CA'),
 (18, 'Fresno Photoengraving Company', 'Fresno', 'CA'),
 (19, 'Crown Printing', 'Fresno', 'CA'),
 (21, 'The Library Ltd', 'St Louis', 'MO'),
 (22, 'Micro Center', 'Columbus', 'OH'),
 (23, 'Yale Industrial Trucks-Fresno', 'Fresno', 'CA'),
 (25, 'California Data Marketing', 'Fresno', 'CA'),
 (30, 'Costco', 'Fresno', 'CA'),
 (32, 'RR Bowker', 'East Brunswick', 'NJ'),
 (33, 'Nielson', 'Cincinnati', 'OH'),
 (34, 'IBM', 'San Francisco', 'CA'),
 (36, 'Graylift', 'Fresno', 'CA'),
 (39, 'Custom Printing Company', 'St Louis', 'MO'),
 (41, 'Shields Design', 'Fresno', 'CA'),
 (42, 'Opamp Technical Books', 'Los Angeles', 'CA'),
 (44, 'Courier Companies, Inc', 'Boston', 'MA'),
 (48, 'Fresno County Tax Collector', 'Fresno', 'CA'),
 (49, 'Mcgraw Hill Companies', 'Chicago', 'IL'),
 (51, 'Blue Shield of California', 'Anaheim', 'CA'),
 (52, 'Aztek Label', 'Anaheim', 'CA'),
 (53, 'Gary McKeighan Insurance', 'Fresno', 'CA'),
 (54, 'Ph Photographic Services', 'Fresno', 'CA'),
 (55, 'Quality Education Data', 'Chicago', 'IL'),
 (56, 'Springhouse Corp', 'Philadelphia', 'PA'),
 (58, 'Fresno Rack & Shelving Inc', 'Fresno', 'CA'),
 (62, 'Cmg Information Services', 'Boston', 'MA'),
 (63, "Lou Gentile's Flower Basket", 'Fresno', 'CA'),
 (67, 'Bill Jones', 'Sacramento', 'CA'),
 (68, 'Computer Library', 'Phoenix', 'AZ'),
 (69, 'Frank E Wilber Co', 'Fresno', 'CA'),
 (70, 'Fresno Credit Bureau', 'Fresno', 'CA'),
 (71, 'The Fresno Bee', 'Fresno', 'CA'),
 (73, 'Executive Office Products', 'Fresno', 'CA'),
 (75, 'Retirement Plan Consultants', 'Fresno', 'CA'),
 (76, 'Simon Direct Inc', 'East Brunswick', 'NJ'),
 (77, 'State Board Of Equalization', 'Sacramento', 'CA'),
 (78, 'The Presort Center', 'Fresno', 'CA'),
 (79, 'Valprint', 'Fresno', 'CA'),
 (80, 'Cardinal Business Media, Inc.', 'Philadelphia', 'PA'),
 (81, 'Wang Laboratories, Inc.', 'Pasadena', 'CA'),
 (82, "Reiter's Scientific & Pro Books", 'Washington', 'DC'),
 (85, 'Champion Printing Company', 'Cincinnati', 'OH'),
 (86, 'Computerworld', 'San Francisco', 'CA'),
 (87, 'DMV Renewal', 'Sacramento', 'CA'),
 (90, 'Wakefield Co', 'Fresno', 'CA'),
 (91, 'McKesson Water Products', 'Pasadena', 'CA'),
 (92, 'Zip Print & Copy Center', 'Fresno', 'CA'),
 (93, 'AT&T', 'Phoenix', 'AZ'),
 (94, 'Abbey Office Furnishings', 'Fresno', 'CA'),
 (95, 'Pacific Bell', 'Sacramento', 'CA'),
 (96, 'Wells Fargo Bank', 'Phoenix', 'AZ'),
 (97, 'Compuserve', 'Columbus', 'OH'),
 (98, 'American Express', 'Los Angeles', 'CA'),
 (101, 'California Business Machines', 'Fresno', 'CA'),
 (102, 'Coffee Break Service', 'Fresno', 'CA'),
 (103, 'Dean Witter Reynolds', 'Boston', 'MA'),
 (104, 'Digital Dreamworks', 'Fresno', 'CA'),
 (105, 'Dristas Groom & McCormick', 'Fresno', 'CA'),
 (106, 'Ford Motor Credit Company', 'Los Angeles', 'CA'),
 (107, 'Franchise Tax Board', 'Sacramento', 'CA'),
 (108, 'Gostanian General Building', 'Fresno', 'CA'),
 (109, 'Kent H Landsberg Co', 'San Francisco', 'CA'),
 (111, 'Net Asset, Llc', 'Fresno', 'CA'),
 (112, 'Office Depot', 'Los Angeles', 'CA'),
 (113, 'Pollstar', 'Fresno', 'CA'),
 (114, 'Postmaster', 'Fresno', 'CA'),
 (115, 'Roadway Package System, Inc', 'Pasadena', 'CA'),
 (116, 'State of California', 'Sacramento', 'CA'),
 (117, 'Suburban Propane', 'Fresno', 'CA'),
 (118, 'Unocal', 'Pasadena', 'CA'),
 (119, 'Yesmed, Inc', 'Fresno', 'CA'),
 (120, 'Dataforms/West', 'Fresno', 'CA'),
 (121, 'Zylka Design', 'Fresno', 'CA')]

In [6]:
%%sql # join more than two tables

SELECT vendor_name, invoice_number, invoice_date, line_item_amount,
       account_description
FROM Vendors v
  JOIN Invoices i ON v.vendor_id = i.vendor_id
  JOIN Invoice_line_items li ON i.invoice_id = li.invoice_id
  JOIN General_ledger_accounts gl ON li.account_number = gl.account_number
WHERE invoice_total - payment_total - credit_total > 0
ORDER BY vendor_name, line_item_amount DESC

 * mysql+pymysql://w-alkao:***@localhost
11 rows affected.

[('Blue Cross', '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), 'Group Insurance'),
 ('Cardinal Business Media, Inc.', '134116', datetime.date(2018, 7, 28), Decimal('90.36'), 'Direct Mail Advertising'),
 ('Data Reproductions Corp', '39104', datetime.date(2018, 7, 10), Decimal('85.31'), 'Book Printing Costs'),
 ('Federal Express Corporation', '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), 'Freight'),
 ('Federal Express Corporation', '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), 'Freight'),
 ('Federal Express Corporation', '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), 'Freight'),
 ('Federal Express Corporation', '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), 'Freight'),
 ('Ford Motor Credit Company', '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), 'Travel and Accomodations'),
 ('Ingram', '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), 'Books, Dues, and Subscriptions'),
 ('Malloy Lithographing Inc', 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), 'Book Printing Costs'),
 ('Malloy Lithographing Inc', '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), 'Book Printing Costs')]

In [8]:
%%sql # implicit inner join

SELECT invoice_number, vendor_name
FROM Vendors v, Invoices i
WHERE v.vendor_id = i.vendor_id
ORDER BY invoice_number

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[('0-2058', 'Malloy Lithographing Inc'),
 ('0-2060', 'Malloy Lithographing Inc'),
 ('0-2436', 'Malloy Lithographing Inc'),
 ('1-200-5164', 'Federal Express Corporation'),
 ('1-202-2978', 'Federal Express Corporation'),
 ('10843', 'Yesmed, Inc'),
 ('109596', 'Coffee Break Service'),
 ('111-92R-10092', 'Pacific Bell'),
 ('111-92R-10093', 'Pacific Bell'),
 ('111-92R-10094', 'Pacific Bell'),
 ('111-92R-10095', 'Pacific Bell'),
 ('111-92R-10096', 'Pacific Bell'),
 ('111-92R-10097', 'Pacific Bell'),
 ('111897', 'Suburban Propane'),
 ('121897', 'Gostanian General Building'),
 ('125520-1', 'Evans Executone Inc'),
 ('133560', 'Cardinal Business Media, Inc.'),
 ('134116', 'Cardinal Business Media, Inc.'),
 ('2-000-2993', 'Federal Express Corporation'),
 ('203339-13', 'Abbey Office Furnishings'),
 ('21-4748363', 'Compuserve'),
 ('21-4923721', 'Compuserve'),
 ('24780512', 'Roadway Package System, Inc'),
 ('24863706', 'Roadway Package System, Inc'),
 ('24946731', 'Roadway Package System, Inc'),
 ('25022117', 'Roadway Package System, Inc'),
 ('263253241', 'Federal Express Corporation'),
 ('263253243', 'Federal Express Corporation'),
 ('263253250', 'Federal Express Corporation'),
 ('263253253', 'Federal Express Corporation'),
 ('263253257', 'Federal Express Corporation'),
 ('263253265', 'Federal Express Corporation'),
 ('263253268', 'Federal Express Corporation'),
 ('263253270', 'Federal Express Corporation'),
 ('263253273', 'Federal Express Corporation'),
 ('31359783', 'Ingram'),
 ('31361833', 'Ingram'),
 ('367447', 'Computerworld'),
 ('39104', 'Data Reproductions Corp'),
 ('4-314-3057', 'Federal Express Corporation'),
 ('4-321-2596', 'Federal Express Corporation'),
 ('4-327-7357', 'Federal Express Corporation'),
 ('4-342-8069', 'Federal Express Corporation'),
 ('40318', 'Data Reproductions Corp'),
 ('43966316', 'Federal Express Corporation'),
 ('509786', 'Bertelsmann Industry Svcs. Inc'),
 ('547479217', 'Blue Cross'),
 ('547480102', 'Blue Cross'),
 ('547481328', 'Blue Cross'),
 ('587056', 'Cahners Publishing Company'),
 ('7548906-20', 'Federal Express Corporation'),
 ('75C-90227', 'Dean Witter Reynolds'),
 ('77290', 'Pollstar'),
 ('94007005', 'Dristas Groom & McCormick'),
 ('94007069', 'Federal Express Corporation'),
 ('963253230', 'Federal Express Corporation'),
 ('963253232', 'Federal Express Corporation'),
 ('963253234', 'Federal Express Corporation'),
 ('963253235', 'Federal Express Corporation'),
 ('963253237', 'Federal Express Corporation'),
 ('963253239', 'Federal Express Corporation'),
 ('963253240', 'Federal Express Corporation'),
 ('963253242', 'Federal Express Corporation'),
 ('963253244', 'Federal Express Corporation'),
 ('963253245', 'Federal Express Corporation'),
 ('963253246', 'Federal Express Corporation'),
 ('963253248', 'Federal Express Corporation'),
 ('963253249', 'Federal Express Corporation'),
 ('963253251', 'Federal Express Corporation'),
 ('963253252', 'Federal Express Corporation'),
 ('963253254', 'Federal Express Corporation'),
 ('963253255', 'Federal Express Corporation'),
 ('963253256', 'Federal Express Corporation'),
 ('963253258', 'Federal Express Corporation'),
 ('963253260', 'Federal Express Corporation'),
 ('963253261', 'Federal Express Corporation'),
 ('963253262', 'Federal Express Corporation'),
 ('963253263', 'Federal Express Corporation'),
 ('963253264', 'Federal Express Corporation'),
 ('963253267', 'Federal Express Corporation'),
 ('963253269', 'Federal Express Corporation'),
 ('963253271', 'Federal Express Corporation'),
 ('963253272', 'Federal Express Corporation'),
 ('97-1024A', 'Wakefield Co'),
 ('97/222', 'Zylka Design'),
 ('97/465', 'Zylka Design'),
 ('97/486', 'Zylka Design'),
 ('97/488', 'Zylka Design'),
 ('97/503', 'Zylka Design'),
 ('97/522', 'Zylka Design'),
 ('97/553', 'Zylka Design'),
 ('97/553B', 'Zylka Design'),
 ('972110', 'Edward Data Services'),
 ('989319-417', 'United Parcel Service'),
 ('989319-427', 'United Parcel Service'),
 ('989319-437', 'United Parcel Service'),
 ('989319-447', 'United Parcel Service'),
 ('989319-457', 'United Parcel Service'),
 ('989319-467', 'United Parcel Service'),
 ('989319-477', 'United Parcel Service'),
 ('989319-487', 'United Parcel Service'),
 ('989319-497', 'United Parcel Service'),
 ('9982771', 'Ford Motor Credit Company'),
 ('C73-24', "Reiter's Scientific & Pro Books"),
 ('CBM9920-M-T77109', 'Postmaster'),
 ('I77271-O01', 'Wells Fargo Bank'),
 ('MABO1489', 'Wang Laboratories, Inc.'),
 ('P-0259', 'Malloy Lithographing Inc'),
 ('P-0608', 'Malloy Lithographing Inc'),
 ('P02-3772', 'Digital Dreamworks'),
 ('P02-88D77S7', 'Fresno County Tax Collector'),
 ('Q545443', 'IBM'),
 ('QP58872', 'IBM'),
 ('RTR-72-3662-X', 'Franchise Tax Board')]

In [10]:
%%sql # join four table with implicit join

SELECT vendor_name, invoice_number, invoice_date, line_item_amount,
       account_description
FROM Vendors v, Invoices i, Invoice_line_items li, General_ledger_accounts gl
WHERE v.vendor_id = i.vendor_id
  AND i.invoice_id = li.invoice_id
  AND li.account_number = gl.account_number
  AND invoice_total - payment_total - credit_total > 0
ORDER BY vendor_name, line_item_amount DESC

 * mysql+pymysql://w-alkao:***@localhost
11 rows affected.

[('Blue Cross', '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), 'Group Insurance'),
 ('Cardinal Business Media, Inc.', '134116', datetime.date(2018, 7, 28), Decimal('90.36'), 'Direct Mail Advertising'),
 ('Data Reproductions Corp', '39104', datetime.date(2018, 7, 10), Decimal('85.31'), 'Book Printing Costs'),
 ('Federal Express Corporation', '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), 'Freight'),
 ('Federal Express Corporation', '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), 'Freight'),
 ('Federal Express Corporation', '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), 'Freight'),
 ('Federal Express Corporation', '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), 'Freight'),
 ('Ford Motor Credit Company', '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), 'Travel and Accomodations'),
 ('Ingram', '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), 'Books, Dues, and Subscriptions'),
 ('Malloy Lithographing Inc', 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), 'Book Printing Costs'),
 ('Malloy Lithographing Inc', '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), 'Book Printing Costs')]

## Outer joins

In [24]:
%%sql 

SELECT vendor_name, invoice_number, invoice_total
FROM Vendors v LEFT JOIN Invoices i
  ON v.vendor_id = i.vendor_id
ORDER BY vendor_name

 * mysql+pymysql://w-alkao:***@localhost
202 rows affected.

[('Abbey Office Furnishings', '203339-13', Decimal('17.50')),
 ('American Booksellers Assoc', None, None),
 ('American Express', None, None),
 ('ASC Signs', None, None),
 ('Ascom Hasler Mailing Systems', None, None),
 ('AT&T', None, None),
 ('Aztek Label', None, None),
 ('Baker & Taylor Books', None, None),
 ('Bertelsmann Industry Svcs. Inc', '509786', Decimal('6940.25')),
 ('BFI Industries', None, None),
 ('Bill Jones', None, None),
 ('Bill Marvin Electric Inc', None, None),
 ('Blanchard & Johnson Associates', None, None),
 ('Blue Cross', '547481328', Decimal('224.00')),
 ('Blue Cross', '547479217', Decimal('116.00')),
 ('Blue Cross', '547480102', Decimal('224.00')),
 ('Blue Shield of California', None, None),
 ('Boucher Communications Inc', None, None),
 ('Cahners Publishing Company', '587056', Decimal('2184.50')),
 ('Cal State Termite', None, None),
 ('California Business Machines', None, None),
 ('California Chamber Of Commerce', None, None),
 ('California Data Marketing', None, None),
 ('Capital Resource Credit', None, None),
 ('Cardinal Business Media, Inc.', '133560', Decimal('175.00')),
 ('Cardinal Business Media, Inc.', '134116', Decimal('90.36')),
 ('Champion Printing Company', None, None),
 ('City Of Fresno', None, None),
 ('Cmg Information Services', None, None),
 ('Coffee Break Service', '109596', Decimal('41.80')),
 ('Compuserve', '21-4748363', Decimal('9.95')),
 ('Compuserve', '21-4923721', Decimal('9.95')),
 ('Computer Library', None, None),
 ('Computerworld', '367447', Decimal('2433.00')),
 ('Costco', None, None),
 ('Courier Companies, Inc', None, None),
 ('Crown Printing', None, None),
 ('Custom Printing Company', None, None),
 ('Data Reproductions Corp', '40318', Decimal('21842.00')),
 ('Data Reproductions Corp', '39104', Decimal('85.31')),
 ('Dataforms/West', None, None),
 ('Dean Witter Reynolds', '75C-90227', Decimal('1367.50')),
 ('Digital Dreamworks', 'P02-3772', Decimal('7125.34')),
 ('Diversified Printing & Pub', None, None),
 ('DMV Renewal', None, None),
 ('Dristas Groom & McCormick', '94007005', Decimal('220.00')),
 ('Edward Data Services', '972110', Decimal('207.78')),
 ('Enterprise Communications Inc', None, None),
 ('Evans Executone Inc', '125520-1', Decimal('95.00')),
 ('Executive Office Products', None, None),
 ('Expedata Inc', None, None),
 ('Federal Express Corporation', '263253241', Decimal('40.20')),
 ('Federal Express Corporation', '963253234', Decimal('138.75')),
 ('Federal Express Corporation', '2-000-2993', Decimal('144.70')),
 ('Federal Express Corporation', '963253251', Decimal('15.50')),
 ('Federal Express Corporation', '963253261', Decimal('42.75')),
 ('Federal Express Corporation', '963253237', Decimal('172.50')),
 ('Federal Express Corporation', '263253250', Decimal('42.67')),
 ('Federal Express Corporation', '963253262', Decimal('42.50')),
 ('Federal Express Corporation', '4-321-2596', Decimal('10.00')),
 ('Federal Express Corporation', '963253242', Decimal('104.00')),
 ('Federal Express Corporation', '963253235', Decimal('108.25')),
 ('Federal Express Corporation', '963253246', Decimal('129.00')),
 ('Federal Express Corporation', '4-342-8069', Decimal('10.00')),
 ('Federal Express Corporation', '963253263', Decimal('109.50')),
 ('Federal Express Corporation', '1-200-5164', Decimal('63.40')),
 ('Federal Express Corporation', '963253232', Decimal('127.75')),
 ('Federal Express Corporation', '963253260', Decimal('36.00')),
 ('Federal Express Corporation', '963253272', Decimal('61.50')),
 ('Federal Express Corporation', '963253255', Decimal('53.75')),
 ('Federal Express Corporation', '94007069', Decimal('400.00')),
 ('Federal Express Corporation', '1-202-2978', Decimal('33.00')),
 ('Federal Express Corporation', '963253245', Decimal('40.75')),
 ('Federal Express Corporation', '963253256', Decimal('53.25')),
 ('Federal Express Corporation', '4-314-3057', Decimal('13.75')),
 ('Federal Express Corporation', '963253269', Decimal('26.75')),
 ('Federal Express Corporation', '963253267', Decimal('23.50')),
 ('Federal Express Corporation', '263253253', Decimal('31.95')),
 ('Federal Express Corporation', '963253254', Decimal('108.50')),
 ('Federal Express Corporation', '43966316', Decimal('10.00')),
 ('Federal Express Corporation', '7548906-20', Decimal('27.00')),
 ('Federal Express Corporation', '963253248', Decimal('241.00')),
 ('Federal Express Corporation', '263253265', Decimal('26.25')),
 ('Federal Express Corporation', '963253258', Decimal('111.00')),
 ('Federal Express Corporation', '963253271', Decimal('158.00')),
 ('Federal Express Corporation', '963253230', Decimal('739.20')),
 ('Federal Express Corporation', '963253244', Decimal('60.00')),
 ('Federal Express Corporation', '963253239', Decimal('147.25')),
 ('Federal Express Corporation', '963253252', Decimal('38.75')),
 ('Federal Express Corporation', '4-327-7357', Decimal('162.75')),
 ('Federal Express Corporation', '963253264', Decimal('52.25')),
 ('Federal Express Corporation', '263253268', Decimal('59.97')),
 ('Federal Express Corporation', '263253270', Decimal('67.92')),
 ('Federal Express Corporation', '263253273', Decimal('30.75')),
 ('Federal Express Corporation', '263253243', Decimal('44.44')),
 ('Federal Express Corporation', '963253240', Decimal('67.00')),
 ('Federal Express Corporation', '263253257', Decimal('22.57')),
 ('Federal Express Corporation', '963253249', Decimal('127.75')),
 ('Ford Motor Credit Company', '9982771', Decimal('503.20')),
 ('Franchise Tax Board', 'RTR-72-3662-X', Decimal('1600.00')),
 ('Frank E Wilber Co', None, None),
 ('Fresno County Tax Collector', 'P02-88D77S7', Decimal('856.92')),
 ('Fresno Credit Bureau', None, None),
 ('Fresno Photoengraving Company', None, None),
 ('Fresno Rack & Shelving Inc', None, None),
 ('Gary McKeighan Insurance', None, None),
 ('Golden Eagle Insurance Co', None, None),
 ('Gostanian General Building', '121897', Decimal('450.00')),
 ('Graylift', None, None),
 ('IBM', 'QP58872', Decimal('116.54')),
 ('IBM', 'Q545443', Decimal('1083.58')),
 ('Ingram', '31359783', Decimal('1575.00')),
 ('Ingram', '31361833', Decimal('579.42')),
 ('Internal Revenue Service', None, None),
 ('Jobtrak', None, None),
 ('Kent H Landsberg Co', None, None),
 ('Leslie Company', None, None),
 ("Lou Gentile's Flower Basket", None, None),
 ('Malloy Lithographing Inc', '0-2058', Decimal('37966.19')),
 ('Malloy Lithographing Inc', 'P-0259', Decimal('26881.40')),
 ('Malloy Lithographing Inc', 'P-0608', Decimal('20551.18')),
 ('Malloy Lithographing Inc', '0-2060', Decimal('23517.58')),
 ('Malloy Lithographing Inc', '0-2436', Decimal('10976.06')),
 ('Mcgraw Hill Companies', None, None),
 ('McKesson Water Products', None, None),
 ('Micro Center', None, None),
 ('Nat Assoc of College Stores', None, None),
 ('National Information Data Ctr', None, None),
 ('Naylor Publications Inc', None, None),
 ('Net Asset, Llc', None, None),
 ('Newbrige Book Clubs', None, None),
 ('Nielson', None, None),
 ('Office Depot', None, None),
 ('Opamp Technical Books', None, None),
 ('Open Horizons Publishing', None, None),
 ('Pacific Bell', '111-92R-10096', Decimal('16.33')),
 ('Pacific Bell', '111-92R-10094', Decimal('19.67')),
 ('Pacific Bell', '111-92R-10097', Decimal('16.33')),
 ('Pacific Bell', '111-92R-10092', Decimal('46.21')),
 ('Pacific Bell', '111-92R-10093', Decimal('39.77')),
 ('Pacific Bell', '111-92R-10095', Decimal('32.70')),
 ('Pacific Gas & Electric', None, None),
 ('Ph Photographic Services', None, None),
 ('Pollstar', '77290', Decimal('1750.00')),
 ('Postmaster', 'CBM9920-M-T77109', Decimal('290.00')),
 ('Publishers Marketing Assoc', None, None),
 ('Publishers Weekly', None, None),
 ('Quality Education Data', None, None),
 ('Register of Copyrights', None, None),
 ("Reiter's Scientific & Pro Books", 'C73-24', Decimal('600.00')),
 ('Retirement Plan Consultants', None, None),
 ('Rich Advertising', None, None),
 ('Roadway Package System, Inc', '25022117', Decimal('6.00')),
 ('Roadway Package System, Inc', '24863706', Decimal('6.00')),
 ('Roadway Package System, Inc', '24946731', Decimal('25.67')),
 ('Roadway Package System, Inc', '24780512', Decimal('6.00')),
 ('Robbins Mobile Lock And Key', None, None),
 ('RR Bowker', None, None),
 ('Shields Design', None, None),
 ('Simon Direct Inc', None, None),
 ('Small Press', None, None),
 ('Springhouse Corp', None, None),
 ('State Board Of Equalization', None, None),
 ('State of California', None, None),
 ('Suburban Propane', '111897', Decimal('16.62')),
 ('Texaco', None, None),
 ('The Drawing Board', None, None),
 ('The Fresno Bee', None, None),
 ('The Library Ltd', None, None),
 ('The Mailers Guide Co', None, None),
 ('The Presort Center', None, None),
 ('The Windows Deck', None, None),
 ("Towne Advertiser's Mailing Svcs", None, None),
 ('United Parcel Service', '989319-457', Decimal('3813.33')),
 ('United Parcel Service', '989319-437', Decimal('2765.36')),
 ('United Parcel Service', '989319-477', Decimal('2184.11')),
 ('United Parcel Service', '989319-497', Decimal('2312.20')),
 ('United Parcel Service', '989319-427', Decimal('2115.81')),
 ('United Parcel Service', '989319-487', Decimal('1927.54')),
 ('United Parcel Service', '989319-467', Decimal('2318.03')),
 ('United Parcel Service', '989319-417', Decimal('2051.59')),
 ('United Parcel Service', '989319-447', Decimal('3689.99')),
 ('Unocal', None, None),
 ('US Postal Service', None, None),
 ('Valprint', None, None),
 ("Venture Communications Int'l", None, None),
 ('Vision Envelope & Printing', None, None),
 ('Wakefield Co', '97-1024A', Decimal('356.48')),
 ('Wang Laboratories, Inc.', 'MABO1489', Decimal('936.93')),
 ('Wells Fargo Bank', 'I77271-O01', Decimal('662.00')),
 ('Yale Industrial Trucks-Fresno', None, None),
 ('Yesmed, Inc', '10843', Decimal('4901.26')),
 ('Zee Medical Service Co', None, None),
 ('Zip Print & Copy Center', None, None),
 ('Zylka Design', '97/488', Decimal('601.95')),
 ('Zylka Design', '97/486', Decimal('953.10')),
 ('Zylka Design', '97/465', Decimal('565.15')),
 ('Zylka Design', '97/503', Decimal('639.77')),
 ('Zylka Design', '97/553B', Decimal('313.55')),
 ('Zylka Design', '97/553', Decimal('904.14')),
 ('Zylka Design', '97/522', Decimal('1962.13')),
 ('Zylka Design', '97/222', Decimal('1000.46'))]

In [25]:
%sql use ex

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [27]:
%sql SHOW TABLES

 * mysql+pymysql://w-alkao:***@localhost
15 rows affected.

[('Active_invoices',),
 ('Color_sample',),
 ('Customers',),
 ('Date_sample',),
 ('Departments',),
 ('Employees',),
 ('Engine_sample',),
 ('Float_sample',),
 ('Null_sample',),
 ('Paid_invoices',),
 ('Projects',),
 ('Sales_reps',),
 ('Sales_totals',),
 ('String_sample',),
 ('testDate',)]

In [28]:
%sql SELECT * FROM Departments

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[(1, 'Accounting'),
 (2, 'Payroll'),
 (3, 'Operations'),
 (4, 'Personnel'),
 (5, 'Maintenance')]

In [29]:
%sql SELECT * FROM Employees

 * mysql+pymysql://w-alkao:***@localhost
9 rows affected.

[(1, 'Smith', 'Cindy', 2, None),
 (2, 'Jones', 'Elmer', 4, 1),
 (3, 'Simonian', 'Ralph', 2, 2),
 (4, 'Hernandez', 'Olivia', 1, 9),
 (5, 'Aaronsen', 'Robert', 2, 4),
 (6, 'Watson', 'Denise', 6, 8),
 (7, 'Hardy', 'Thomas', 5, 2),
 (8, "O'Leary", 'Rhea', 4, 9),
 (9, 'Locario', 'Paulo', 6, 1)]

In [30]:
%sql SELECT * FROM Projects

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('P1011', 8),
 ('P1011', 4),
 ('P1012', 3),
 ('P1012', 1),
 ('P1012', 5),
 ('P1013', 6),
 ('P1013', 9),
 ('P1014', 10)]

In [31]:
%%sql

SELECT department_name, d.department_number, last_name, first_name
FROM Departments d LEFT JOIN Employees e
  ON d.department_number = e.department_number

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('Accounting', 1, 'Hernandez', 'Olivia'),
 ('Payroll', 2, 'Aaronsen', 'Robert'),
 ('Payroll', 2, 'Simonian', 'Ralph'),
 ('Payroll', 2, 'Smith', 'Cindy'),
 ('Operations', 3, None, None),
 ('Personnel', 4, "O'Leary", 'Rhea'),
 ('Personnel', 4, 'Jones', 'Elmer'),
 ('Maintenance', 5, 'Hardy', 'Thomas')]

In [35]:
%%sql

SELECT employee_id, department_name, e.department_number, last_name, first_name
FROM Departments d RIGHT JOIN Employees e
  ON e.department_number = d.department_number

 * mysql+pymysql://w-alkao:***@localhost
9 rows affected.

[(1, 'Payroll', 2, 'Smith', 'Cindy'),
 (2, 'Personnel', 4, 'Jones', 'Elmer'),
 (3, 'Payroll', 2, 'Simonian', 'Ralph'),
 (4, 'Accounting', 1, 'Hernandez', 'Olivia'),
 (5, 'Payroll', 2, 'Aaronsen', 'Robert'),
 (6, None, 6, 'Watson', 'Denise'),
 (7, 'Maintenance', 5, 'Hardy', 'Thomas'),
 (8, 'Personnel', 4, "O'Leary", 'Rhea'),
 (9, None, 6, 'Locario', 'Paulo')]

In [36]:
%%sql

SELECT department_name, last_name, project_number
FROM Departments d
  LEFT JOIN Employees e ON d.department_number = e.department_number
  LEFT JOIN Projects p ON e.employee_id = p.employee_id

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('Accounting', 'Hernandez', 'P1011'),
 ('Payroll', 'Aaronsen', 'P1012'),
 ('Payroll', 'Simonian', 'P1012'),
 ('Payroll', 'Smith', 'P1012'),
 ('Operations', None, None),
 ('Personnel', "O'Leary", 'P1011'),
 ('Personnel', 'Jones', None),
 ('Maintenance', 'Hardy', None)]

In [37]:
%%sql

SELECT department_name, last_name, project_number
FROM Departments d
  JOIN Employees e ON d.department_number = e.department_number
  LEFT JOIN Projects p ON e.employee_id = p.employee_id
ORDER BY department_name, last_name

 * mysql+pymysql://w-alkao:***@localhost
7 rows affected.

[('Accounting', 'Hernandez', 'P1011'),
 ('Maintenance', 'Hardy', None),
 ('Payroll', 'Aaronsen', 'P1012'),
 ('Payroll', 'Simonian', 'P1012'),
 ('Payroll', 'Smith', 'P1012'),
 ('Personnel', 'Jones', None),
 ('Personnel', "O'Leary", 'P1011')]

## other skills for joins

In [45]:
%sql USE ap

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [46]:
%%sql # join tables with the USING

SELECT invoice_number, vendor_name
FROM Vendors JOIN Invoices USING (vendor_id)

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[('989319-457', 'United Parcel Service'),
 ('263253241', 'Federal Express Corporation'),
 ('963253234', 'Federal Express Corporation'),
 ('2-000-2993', 'Federal Express Corporation'),
 ('963253251', 'Federal Express Corporation'),
 ('963253261', 'Federal Express Corporation'),
 ('963253237', 'Federal Express Corporation'),
 ('125520-1', 'Evans Executone Inc'),
 ('97/488', 'Zylka Design'),
 ('263253250', 'Federal Express Corporation'),
 ('963253262', 'Federal Express Corporation'),
 ('I77271-O01', 'Wells Fargo Bank'),
 ('111-92R-10096', 'Pacific Bell'),
 ('25022117', 'Roadway Package System, Inc'),
 ('P02-88D77S7', 'Fresno County Tax Collector'),
 ('21-4748363', 'Compuserve'),
 ('4-321-2596', 'Federal Express Corporation'),
 ('963253242', 'Federal Express Corporation'),
 ('QP58872', 'IBM'),
 ('24863706', 'Roadway Package System, Inc'),
 ('10843', 'Yesmed, Inc'),
 ('963253235', 'Federal Express Corporation'),
 ('21-4923721', 'Compuserve'),
 ('77290', 'Pollstar'),
 ('963253246', 'Federal Express Corporation'),
 ('4-342-8069', 'Federal Express Corporation'),
 ('972110', 'Edward Data Services'),
 ('963253263', 'Federal Express Corporation'),
 ('121897', 'Gostanian General Building'),
 ('1-200-5164', 'Federal Express Corporation'),
 ('P02-3772', 'Digital Dreamworks'),
 ('97/486', 'Zylka Design'),
 ('94007005', 'Dristas Groom & McCormick'),
 ('963253232', 'Federal Express Corporation'),
 ('RTR-72-3662-X', 'Franchise Tax Board'),
 ('97/465', 'Zylka Design'),
 ('963253260', 'Federal Express Corporation'),
 ('963253272', 'Federal Express Corporation'),
 ('0-2058', 'Malloy Lithographing Inc'),
 ('97/503', 'Zylka Design'),
 ('963253255', 'Federal Express Corporation'),
 ('94007069', 'Federal Express Corporation'),
 ('40318', 'Data Reproductions Corp'),
 ('111-92R-10094', 'Pacific Bell'),
 ('989319-437', 'United Parcel Service'),
 ('547481328', 'Blue Cross'),
 ('31359783', 'Ingram'),
 ('1-202-2978', 'Federal Express Corporation'),
 ('111-92R-10097', 'Pacific Bell'),
 ('547479217', 'Blue Cross'),
 ('989319-477', 'United Parcel Service'),
 ('Q545443', 'IBM'),
 ('111-92R-10092', 'Pacific Bell'),
 ('97/553B', 'Zylka Design'),
 ('963253245', 'Federal Express Corporation'),
 ('367447', 'Computerworld'),
 ('75C-90227', 'Dean Witter Reynolds'),
 ('963253256', 'Federal Express Corporation'),
 ('4-314-3057', 'Federal Express Corporation'),
 ('989319-497', 'United Parcel Service'),
 ('24946731', 'Roadway Package System, Inc'),
 ('963253269', 'Federal Express Corporation'),
 ('989319-427', 'United Parcel Service'),
 ('963253267', 'Federal Express Corporation'),
 ('509786', 'Bertelsmann Industry Svcs. Inc'),
 ('263253253', 'Federal Express Corporation'),
 ('989319-487', 'United Parcel Service'),
 ('MABO1489', 'Wang Laboratories, Inc.'),
 ('133560', 'Cardinal Business Media, Inc.'),
 ('24780512', 'Roadway Package System, Inc'),
 ('963253254', 'Federal Express Corporation'),
 ('43966316', 'Federal Express Corporation'),
 ('CBM9920-M-T77109', 'Postmaster'),
 ('109596', 'Coffee Break Service'),
 ('7548906-20', 'Federal Express Corporation'),
 ('963253248', 'Federal Express Corporation'),
 ('97/553', 'Zylka Design'),
 ('97/522', 'Zylka Design'),
 ('587056', 'Cahners Publishing Company'),
 ('989319-467', 'United Parcel Service'),
 ('263253265', 'Federal Express Corporation'),
 ('203339-13', 'Abbey Office Furnishings'),
 ('111-92R-10093', 'Pacific Bell'),
 ('963253258', 'Federal Express Corporation'),
 ('963253271', 'Federal Express Corporation'),
 ('963253230', 'Federal Express Corporation'),
 ('963253244', 'Federal Express Corporation'),
 ('963253239', 'Federal Express Corporation'),
 ('39104', 'Data Reproductions Corp'),
 ('963253252', 'Federal Express Corporation'),
 ('111-92R-10095', 'Pacific Bell'),
 ('111897', 'Suburban Propane'),
 ('4-327-7357', 'Federal Express Corporation'),
 ('963253264', 'Federal Express Corporation'),
 ('C73-24', "Reiter's Scientific & Pro Books"),
 ('P-0259', 'Malloy Lithographing Inc'),
 ('97-1024A', 'Wakefield Co'),
 ('31361833', 'Ingram'),
 ('263253268', 'Federal Express Corporation'),
 ('263253270', 'Federal Express Corporation'),
 ('263253273', 'Federal Express Corporation'),
 ('P-0608', 'Malloy Lithographing Inc'),
 ('989319-417', 'United Parcel Service'),
 ('263253243', 'Federal Express Corporation'),
 ('9982771', 'Ford Motor Credit Company'),
 ('0-2060', 'Malloy Lithographing Inc'),
 ('989319-447', 'United Parcel Service'),
 ('963253240', 'Federal Express Corporation'),
 ('97/222', 'Zylka Design'),
 ('134116', 'Cardinal Business Media, Inc.'),
 ('263253257', 'Federal Express Corporation'),
 ('0-2436', 'Malloy Lithographing Inc'),
 ('547480102', 'Blue Cross'),
 ('963253249', 'Federal Express Corporation')]

In [47]:
%%sql # join three table with USING

USE ex;

SELECT department_name, last_name, project_number
FROM Departments
  JOIN Employees USING (department_number)
  LEFT JOIN Projects USING (employee_id)

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.
7 rows affected.

[('Payroll', 'Smith', 'P1012'),
 ('Personnel', 'Jones', None),
 ('Payroll', 'Simonian', 'P1012'),
 ('Accounting', 'Hernandez', 'P1011'),
 ('Payroll', 'Aaronsen', 'P1012'),
 ('Maintenance', 'Hardy', None),
 ('Personnel', "O'Leary", 'P1011')]

In [50]:
%%sql # join table with natural keyword

USE ap;

SELECT invoice_number, vendor_name 
FROM Vendors NATURAL JOIN Invoices

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.
114 rows affected.

[('989319-457', 'United Parcel Service'),
 ('263253241', 'Federal Express Corporation'),
 ('963253234', 'Federal Express Corporation'),
 ('2-000-2993', 'Federal Express Corporation'),
 ('963253251', 'Federal Express Corporation'),
 ('963253261', 'Federal Express Corporation'),
 ('963253237', 'Federal Express Corporation'),
 ('125520-1', 'Evans Executone Inc'),
 ('97/488', 'Zylka Design'),
 ('263253250', 'Federal Express Corporation'),
 ('963253262', 'Federal Express Corporation'),
 ('I77271-O01', 'Wells Fargo Bank'),
 ('111-92R-10096', 'Pacific Bell'),
 ('25022117', 'Roadway Package System, Inc'),
 ('P02-88D77S7', 'Fresno County Tax Collector'),
 ('21-4748363', 'Compuserve'),
 ('4-321-2596', 'Federal Express Corporation'),
 ('963253242', 'Federal Express Corporation'),
 ('QP58872', 'IBM'),
 ('24863706', 'Roadway Package System, Inc'),
 ('10843', 'Yesmed, Inc'),
 ('963253235', 'Federal Express Corporation'),
 ('21-4923721', 'Compuserve'),
 ('77290', 'Pollstar'),
 ('963253246', 'Federal Express Corporation'),
 ('4-342-8069', 'Federal Express Corporation'),
 ('972110', 'Edward Data Services'),
 ('963253263', 'Federal Express Corporation'),
 ('121897', 'Gostanian General Building'),
 ('1-200-5164', 'Federal Express Corporation'),
 ('P02-3772', 'Digital Dreamworks'),
 ('97/486', 'Zylka Design'),
 ('94007005', 'Dristas Groom & McCormick'),
 ('963253232', 'Federal Express Corporation'),
 ('RTR-72-3662-X', 'Franchise Tax Board'),
 ('97/465', 'Zylka Design'),
 ('963253260', 'Federal Express Corporation'),
 ('963253272', 'Federal Express Corporation'),
 ('0-2058', 'Malloy Lithographing Inc'),
 ('97/503', 'Zylka Design'),
 ('963253255', 'Federal Express Corporation'),
 ('94007069', 'Federal Express Corporation'),
 ('40318', 'Data Reproductions Corp'),
 ('111-92R-10094', 'Pacific Bell'),
 ('989319-437', 'United Parcel Service'),
 ('547481328', 'Blue Cross'),
 ('31359783', 'Ingram'),
 ('1-202-2978', 'Federal Express Corporation'),
 ('111-92R-10097', 'Pacific Bell'),
 ('547479217', 'Blue Cross'),
 ('989319-477', 'United Parcel Service'),
 ('Q545443', 'IBM'),
 ('111-92R-10092', 'Pacific Bell'),
 ('97/553B', 'Zylka Design'),
 ('963253245', 'Federal Express Corporation'),
 ('367447', 'Computerworld'),
 ('75C-90227', 'Dean Witter Reynolds'),
 ('963253256', 'Federal Express Corporation'),
 ('4-314-3057', 'Federal Express Corporation'),
 ('989319-497', 'United Parcel Service'),
 ('24946731', 'Roadway Package System, Inc'),
 ('963253269', 'Federal Express Corporation'),
 ('989319-427', 'United Parcel Service'),
 ('963253267', 'Federal Express Corporation'),
 ('509786', 'Bertelsmann Industry Svcs. Inc'),
 ('263253253', 'Federal Express Corporation'),
 ('989319-487', 'United Parcel Service'),
 ('MABO1489', 'Wang Laboratories, Inc.'),
 ('133560', 'Cardinal Business Media, Inc.'),
 ('24780512', 'Roadway Package System, Inc'),
 ('963253254', 'Federal Express Corporation'),
 ('43966316', 'Federal Express Corporation'),
 ('CBM9920-M-T77109', 'Postmaster'),
 ('109596', 'Coffee Break Service'),
 ('7548906-20', 'Federal Express Corporation'),
 ('963253248', 'Federal Express Corporation'),
 ('97/553', 'Zylka Design'),
 ('97/522', 'Zylka Design'),
 ('587056', 'Cahners Publishing Company'),
 ('989319-467', 'United Parcel Service'),
 ('263253265', 'Federal Express Corporation'),
 ('203339-13', 'Abbey Office Furnishings'),
 ('111-92R-10093', 'Pacific Bell'),
 ('963253258', 'Federal Express Corporation'),
 ('963253271', 'Federal Express Corporation'),
 ('963253230', 'Federal Express Corporation'),
 ('963253244', 'Federal Express Corporation'),
 ('963253239', 'Federal Express Corporation'),
 ('39104', 'Data Reproductions Corp'),
 ('963253252', 'Federal Express Corporation'),
 ('111-92R-10095', 'Pacific Bell'),
 ('111897', 'Suburban Propane'),
 ('4-327-7357', 'Federal Express Corporation'),
 ('963253264', 'Federal Express Corporation'),
 ('C73-24', "Reiter's Scientific & Pro Books"),
 ('P-0259', 'Malloy Lithographing Inc'),
 ('97-1024A', 'Wakefield Co'),
 ('31361833', 'Ingram'),
 ('263253268', 'Federal Express Corporation'),
 ('263253270', 'Federal Express Corporation'),
 ('263253273', 'Federal Express Corporation'),
 ('P-0608', 'Malloy Lithographing Inc'),
 ('989319-417', 'United Parcel Service'),
 ('263253243', 'Federal Express Corporation'),
 ('9982771', 'Ford Motor Credit Company'),
 ('0-2060', 'Malloy Lithographing Inc'),
 ('989319-447', 'United Parcel Service'),
 ('963253240', 'Federal Express Corporation'),
 ('97/222', 'Zylka Design'),
 ('134116', 'Cardinal Business Media, Inc.'),
 ('263253257', 'Federal Express Corporation'),
 ('0-2436', 'Malloy Lithographing Inc'),
 ('547480102', 'Blue Cross'),
 ('963253249', 'Federal Express Corporation')]

In [52]:
%%sql #use natural join to join three table

SELECT department_name AS dept_name, last_name, project_number
FROM ex.Departments 
  NATURAL JOIN ex.Employees
  LEFT JOIN ex.Projects USING (employee_id)
ORDER BY department_name

 * mysql+pymysql://w-alkao:***@localhost
7 rows affected.

[('Accounting', 'Hernandez', 'P1011'),
 ('Maintenance', 'Hardy', None),
 ('Payroll', 'Smith', 'P1012'),
 ('Payroll', 'Simonian', 'P1012'),
 ('Payroll', 'Aaronsen', 'P1012'),
 ('Personnel', 'Jones', None),
 ('Personnel', "O'Leary", 'P1011')]

In [56]:
%%sql # cross join

SELECT d.department_number, department_name, employee_id, last_name
FROM ex.Departments d CROSS JOIN ex.Employees
ORDER BY d.department_number

 * mysql+pymysql://w-alkao:***@localhost
45 rows affected.

[(1, 'Accounting', 9, 'Locario'),
 (1, 'Accounting', 5, 'Aaronsen'),
 (1, 'Accounting', 4, 'Hernandez'),
 (1, 'Accounting', 6, 'Watson'),
 (1, 'Accounting', 3, 'Simonian'),
 (1, 'Accounting', 7, 'Hardy'),
 (1, 'Accounting', 2, 'Jones'),
 (1, 'Accounting', 8, "O'Leary"),
 (1, 'Accounting', 1, 'Smith'),
 (2, 'Payroll', 8, "O'Leary"),
 (2, 'Payroll', 2, 'Jones'),
 (2, 'Payroll', 7, 'Hardy'),
 (2, 'Payroll', 3, 'Simonian'),
 (2, 'Payroll', 1, 'Smith'),
 (2, 'Payroll', 6, 'Watson'),
 (2, 'Payroll', 4, 'Hernandez'),
 (2, 'Payroll', 9, 'Locario'),
 (2, 'Payroll', 5, 'Aaronsen'),
 (3, 'Operations', 8, "O'Leary"),
 (3, 'Operations', 9, 'Locario'),
 (3, 'Operations', 7, 'Hardy'),
 (3, 'Operations', 6, 'Watson'),
 (3, 'Operations', 5, 'Aaronsen'),
 (3, 'Operations', 1, 'Smith'),
 (3, 'Operations', 4, 'Hernandez'),
 (3, 'Operations', 2, 'Jones'),
 (3, 'Operations', 3, 'Simonian'),
 (4, 'Personnel', 3, 'Simonian'),
 (4, 'Personnel', 1, 'Smith'),
 (4, 'Personnel', 9, 'Locario'),
 (4, 'Personnel', 2, 'Jones'),
 (4, 'Personnel', 8, "O'Leary"),
 (4, 'Personnel', 7, 'Hardy'),
 (4, 'Personnel', 4, 'Hernandez'),
 (4, 'Personnel', 6, 'Watson'),
 (4, 'Personnel', 5, 'Aaronsen'),
 (5, 'Maintenance', 4, 'Hernandez'),
 (5, 'Maintenance', 1, 'Smith'),
 (5, 'Maintenance', 8, "O'Leary"),
 (5, 'Maintenance', 7, 'Hardy'),
 (5, 'Maintenance', 3, 'Simonian'),
 (5, 'Maintenance', 5, 'Aaronsen'),
 (5, 'Maintenance', 9, 'Locario'),
 (5, 'Maintenance', 2, 'Jones'),
 (5, 'Maintenance', 6, 'Watson')]

In [58]:
%%sql #implicit cross join

SELECT d.department_number, department_name, employee_id, last_name
FROM ex.Departments d, ex.Employees
ORDER BY d.department_number

 * mysql+pymysql://w-alkao:***@localhost
45 rows affected.

[(1, 'Accounting', 9, 'Locario'),
 (1, 'Accounting', 5, 'Aaronsen'),
 (1, 'Accounting', 4, 'Hernandez'),
 (1, 'Accounting', 6, 'Watson'),
 (1, 'Accounting', 3, 'Simonian'),
 (1, 'Accounting', 7, 'Hardy'),
 (1, 'Accounting', 2, 'Jones'),
 (1, 'Accounting', 8, "O'Leary"),
 (1, 'Accounting', 1, 'Smith'),
 (2, 'Payroll', 8, "O'Leary"),
 (2, 'Payroll', 2, 'Jones'),
 (2, 'Payroll', 7, 'Hardy'),
 (2, 'Payroll', 3, 'Simonian'),
 (2, 'Payroll', 1, 'Smith'),
 (2, 'Payroll', 6, 'Watson'),
 (2, 'Payroll', 4, 'Hernandez'),
 (2, 'Payroll', 9, 'Locario'),
 (2, 'Payroll', 5, 'Aaronsen'),
 (3, 'Operations', 8, "O'Leary"),
 (3, 'Operations', 9, 'Locario'),
 (3, 'Operations', 7, 'Hardy'),
 (3, 'Operations', 6, 'Watson'),
 (3, 'Operations', 5, 'Aaronsen'),
 (3, 'Operations', 1, 'Smith'),
 (3, 'Operations', 4, 'Hernandez'),
 (3, 'Operations', 2, 'Jones'),
 (3, 'Operations', 3, 'Simonian'),
 (4, 'Personnel', 3, 'Simonian'),
 (4, 'Personnel', 1, 'Smith'),
 (4, 'Personnel', 9, 'Locario'),
 (4, 'Personnel', 2, 'Jones'),
 (4, 'Personnel', 8, "O'Leary"),
 (4, 'Personnel', 7, 'Hardy'),
 (4, 'Personnel', 4, 'Hernandez'),
 (4, 'Personnel', 6, 'Watson'),
 (4, 'Personnel', 5, 'Aaronsen'),
 (5, 'Maintenance', 4, 'Hernandez'),
 (5, 'Maintenance', 1, 'Smith'),
 (5, 'Maintenance', 8, "O'Leary"),
 (5, 'Maintenance', 7, 'Hardy'),
 (5, 'Maintenance', 3, 'Simonian'),
 (5, 'Maintenance', 5, 'Aaronsen'),
 (5, 'Maintenance', 9, 'Locario'),
 (5, 'Maintenance', 2, 'Jones'),
 (5, 'Maintenance', 6, 'Watson')]

## Work with unions

In [60]:
%%sql

SELECT 'Active' AS source,
        invoice_number, invoice_date, invoice_total
FROM ex.Active_invoices
WHERE invoice_date >= '2018-06-01'

 * mysql+pymysql://w-alkao:***@localhost
12 rows affected.

[('Active', '134116', datetime.date(2018, 6, 1), Decimal('90.36')),
 ('Active', '9982771', datetime.date(2018, 6, 3), Decimal('503.20')),
 ('Active', '111-92R-10092', datetime.date(2018, 6, 4), Decimal('46.21')),
 ('Active', '111-92R-10093', datetime.date(2018, 6, 5), Decimal('39.77')),
 ('Active', 'I77271-O01', datetime.date(2018, 6, 5), Decimal('662.00')),
 ('Active', '111-92R-10094', datetime.date(2018, 6, 6), Decimal('19.67')),
 ('Active', '111-92R-10095', datetime.date(2018, 6, 7), Decimal('32.70')),
 ('Active', '111-92R-10096', datetime.date(2018, 6, 8), Decimal('16.33')),
 ('Active', '111-92R-10097', datetime.date(2018, 6, 8), Decimal('16.33')),
 ('Active', '109596', datetime.date(2018, 6, 14), Decimal('41.80')),
 ('Active', '39104', datetime.date(2018, 6, 20), Decimal('85.31')),
 ('Active', '40318', datetime.date(2018, 7, 18), Decimal('21842.00'))]

In [62]:
%%sql 

SELECT 'Paid' AS source, invoice_number, invoice_date, invoice_total
FROM ex.Paid_invoices
WHERE invoice_date >= '2018-06-01'

 * mysql+pymysql://w-alkao:***@localhost
10 rows affected.

[('Paid', '121897', datetime.date(2018, 6, 1), Decimal('450.00')),
 ('Paid', '133560', datetime.date(2018, 6, 1), Decimal('175.00')),
 ('Paid', 'P02-3772', datetime.date(2018, 6, 3), Decimal('7125.34')),
 ('Paid', 'RTR-72-3662-X', datetime.date(2018, 6, 4), Decimal('1600.00')),
 ('Paid', '77290', datetime.date(2018, 6, 4), Decimal('1750.00')),
 ('Paid', '10843', datetime.date(2018, 6, 4), Decimal('4901.26')),
 ('Paid', '75C-90227', datetime.date(2018, 6, 6), Decimal('1367.50')),
 ('Paid', 'P02-88D77S7', datetime.date(2018, 6, 6), Decimal('856.92')),
 ('Paid', 'CBM9920-M-T77109', datetime.date(2018, 6, 7), Decimal('290.00')),
 ('Paid', '111897', datetime.date(2018, 6, 11), Decimal('16.62'))]

In [63]:
%%sql #Combine results set from two different tables

SELECT 'Active' AS source, invoice_number, invoice_date, invoice_total
FROM ex.Active_invoices
WHERE invoice_date >= '2018-06-01'

UNION

SELECT 'Paid' AS source, invoice_number, invoice_date, invoice_total
FROM ex.Paid_invoices
WHERE invoice_date >= '2018-06-01'

 * mysql+pymysql://w-alkao:***@localhost
22 rows affected.

[('Active', '134116', datetime.date(2018, 6, 1), Decimal('90.36')),
 ('Active', '9982771', datetime.date(2018, 6, 3), Decimal('503.20')),
 ('Active', '111-92R-10092', datetime.date(2018, 6, 4), Decimal('46.21')),
 ('Active', '111-92R-10093', datetime.date(2018, 6, 5), Decimal('39.77')),
 ('Active', 'I77271-O01', datetime.date(2018, 6, 5), Decimal('662.00')),
 ('Active', '111-92R-10094', datetime.date(2018, 6, 6), Decimal('19.67')),
 ('Active', '111-92R-10095', datetime.date(2018, 6, 7), Decimal('32.70')),
 ('Active', '111-92R-10096', datetime.date(2018, 6, 8), Decimal('16.33')),
 ('Active', '111-92R-10097', datetime.date(2018, 6, 8), Decimal('16.33')),
 ('Active', '109596', datetime.date(2018, 6, 14), Decimal('41.80')),
 ('Active', '39104', datetime.date(2018, 6, 20), Decimal('85.31')),
 ('Active', '40318', datetime.date(2018, 7, 18), Decimal('21842.00')),
 ('Paid', '121897', datetime.date(2018, 6, 1), Decimal('450.00')),
 ('Paid', '133560', datetime.date(2018, 6, 1), Decimal('175.00')),
 ('Paid', 'P02-3772', datetime.date(2018, 6, 3), Decimal('7125.34')),
 ('Paid', 'RTR-72-3662-X', datetime.date(2018, 6, 4), Decimal('1600.00')),
 ('Paid', '77290', datetime.date(2018, 6, 4), Decimal('1750.00')),
 ('Paid', '10843', datetime.date(2018, 6, 4), Decimal('4901.26')),
 ('Paid', '75C-90227', datetime.date(2018, 6, 6), Decimal('1367.50')),
 ('Paid', 'P02-88D77S7', datetime.date(2018, 6, 6), Decimal('856.92')),
 ('Paid', 'CBM9920-M-T77109', datetime.date(2018, 6, 7), Decimal('290.00')),
 ('Paid', '111897', datetime.date(2018, 6, 11), Decimal('16.62'))]

In [65]:
%%sql # combines result set from the same tables

SELECT 'Active' AS source,
       invoice_number, invoice_date, invoice_total
FROM Invoices
WHERE invoice_total - payment_total - credit_total > 0

UNION

SELECT 'Paid' AS source,
       invoice_number, invoice_date, invoice_total
FROM Invoices
WHERE invoice_total - payment_total - credit_total <= 0

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[('Active', '39104', datetime.date(2018, 7, 10), Decimal('85.31')),
 ('Active', '963253264', datetime.date(2018, 7, 18), Decimal('52.25')),
 ('Active', '31361833', datetime.date(2018, 7, 21), Decimal('579.42')),
 ('Active', '263253268', datetime.date(2018, 7, 21), Decimal('59.97')),
 ('Active', '263253270', datetime.date(2018, 7, 22), Decimal('67.92')),
 ('Active', '263253273', datetime.date(2018, 7, 22), Decimal('30.75')),
 ('Active', 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18')),
 ('Active', '9982771', datetime.date(2018, 7, 24), Decimal('503.20')),
 ('Active', '134116', datetime.date(2018, 7, 28), Decimal('90.36')),
 ('Active', '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06')),
 ('Active', '547480102', datetime.date(2018, 8, 1), Decimal('224.00')),
 ('Paid', '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33')),
 ('Paid', '263253241', datetime.date(2018, 4, 10), Decimal('40.20')),
 ('Paid', '963253234', datetime.date(2018, 4, 13), Decimal('138.75')),
 ('Paid', '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70')),
 ('Paid', '963253251', datetime.date(2018, 4, 16), Decimal('15.50')),
 ('Paid', '963253261', datetime.date(2018, 4, 16), Decimal('42.75')),
 ('Paid', '963253237', datetime.date(2018, 4, 21), Decimal('172.50')),
 ('Paid', '125520-1', datetime.date(2018, 4, 24), Decimal('95.00')),
 ('Paid', '97/488', datetime.date(2018, 4, 24), Decimal('601.95')),
 ('Paid', '263253250', datetime.date(2018, 4, 24), Decimal('42.67')),
 ('Paid', '963253262', datetime.date(2018, 4, 25), Decimal('42.50')),
 ('Paid', 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00')),
 ('Paid', '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33')),
 ('Paid', '25022117', datetime.date(2018, 5, 1), Decimal('6.00')),
 ('Paid', 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92')),
 ('Paid', '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95')),
 ('Paid', '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00')),
 ('Paid', '963253242', datetime.date(2018, 5, 6), Decimal('104.00')),
 ('Paid', 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54')),
 ('Paid', '24863706', datetime.date(2018, 5, 10), Decimal('6.00')),
 ('Paid', '10843', datetime.date(2018, 5, 11), Decimal('4901.26')),
 ('Paid', '963253235', datetime.date(2018, 5, 11), Decimal('108.25')),
 ('Paid', '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95')),
 ('Paid', '77290', datetime.date(2018, 5, 13), Decimal('1750.00')),
 ('Paid', '963253246', datetime.date(2018, 5, 13), Decimal('129.00')),
 ('Paid', '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00')),
 ('Paid', '972110', datetime.date(2018, 5, 15), Decimal('207.78')),
 ('Paid', '963253263', datetime.date(2018, 5, 16), Decimal('109.50')),
 ('Paid', '121897', datetime.date(2018, 5, 19), Decimal('450.00')),
 ('Paid', '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40')),
 ('Paid', 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34')),
 ('Paid', '97/486', datetime.date(2018, 5, 21), Decimal('953.10')),
 ('Paid', '94007005', datetime.date(2018, 5, 23), Decimal('220.00')),
 ('Paid', '963253232', datetime.date(2018, 5, 23), Decimal('127.75')),
 ('Paid', 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00')),
 ('Paid', '97/465', datetime.date(2018, 5, 25), Decimal('565.15')),
 ('Paid', '963253260', datetime.date(2018, 5, 25), Decimal('36.00')),
 ('Paid', '963253272', datetime.date(2018, 5, 26), Decimal('61.50')),
 ('Paid', '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19')),
 ('Paid', '97/503', datetime.date(2018, 5, 30), Decimal('639.77')),
 ('Paid', '963253255', datetime.date(2018, 5, 31), Decimal('53.75')),
 ('Paid', '94007069', datetime.date(2018, 5, 31), Decimal('400.00')),
 ('Paid', '40318', datetime.date(2018, 6, 1), Decimal('21842.00')),
 ('Paid', '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67')),
 ('Paid', '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36')),
 ('Paid', '547481328', datetime.date(2018, 6, 3), Decimal('224.00')),
 ('Paid', '31359783', datetime.date(2018, 6, 3), Decimal('1575.00')),
 ('Paid', '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00')),
 ('Paid', '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33')),
 ('Paid', '547479217', datetime.date(2018, 6, 7), Decimal('116.00')),
 ('Paid', '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11')),
 ('Paid', 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58')),
 ('Paid', '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21')),
 ('Paid', '97/553B', datetime.date(2018, 6, 10), Decimal('313.55')),
 ('Paid', '963253245', datetime.date(2018, 6, 10), Decimal('40.75')),
 ('Paid', '367447', datetime.date(2018, 6, 11), Decimal('2433.00')),
 ('Paid', '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50')),
 ('Paid', '963253256', datetime.date(2018, 6, 11), Decimal('53.25')),
 ('Paid', '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75')),
 ('Paid', '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20')),
 ('Paid', '24946731', datetime.date(2018, 6, 15), Decimal('25.67')),
 ('Paid', '963253269', datetime.date(2018, 6, 15), Decimal('26.75')),
 ('Paid', '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81')),
 ('Paid', '963253267', datetime.date(2018, 6, 17), Decimal('23.50')),
 ('Paid', '509786', datetime.date(2018, 6, 18), Decimal('6940.25')),
 ('Paid', '263253253', datetime.date(2018, 6, 18), Decimal('31.95')),
 ('Paid', '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54')),
 ('Paid', 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93')),
 ('Paid', '133560', datetime.date(2018, 6, 22), Decimal('175.00')),
 ('Paid', '24780512', datetime.date(2018, 6, 22), Decimal('6.00')),
 ('Paid', '963253254', datetime.date(2018, 6, 22), Decimal('108.50')),
 ('Paid', '43966316', datetime.date(2018, 6, 22), Decimal('10.00')),
 ('Paid', 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00')),
 ('Paid', '109596', datetime.date(2018, 6, 24), Decimal('41.80')),
 ('Paid', '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00')),
 ('Paid', '963253248', datetime.date(2018, 6, 24), Decimal('241.00')),
 ('Paid', '97/553', datetime.date(2018, 6, 25), Decimal('904.14')),
 ('Paid', '97/522', datetime.date(2018, 6, 28), Decimal('1962.13')),
 ('Paid', '587056', datetime.date(2018, 6, 30), Decimal('2184.50')),
 ('Paid', '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03')),
 ('Paid', '263253265', datetime.date(2018, 7, 2), Decimal('26.25')),
 ('Paid', '203339-13', datetime.date(2018, 7, 5), Decimal('17.50')),
 ('Paid', '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77')),
 ('Paid', '963253258', datetime.date(2018, 7, 6), Decimal('111.00')),
 ('Paid', '963253271', datetime.date(2018, 7, 7), Decimal('158.00')),
 ('Paid', '963253230', datetime.date(2018, 7, 7), Decimal('739.20')),
 ('Paid', '963253244', datetime.date(2018, 7, 8), Decimal('60.00')),
 ('Paid', '963253239', datetime.date(2018, 7, 8), Decimal('147.25')),
 ('Paid', '963253252', datetime.date(2018, 7, 12), Decimal('38.75')),
 ('Paid', '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70')),
 ('Paid', '111897', datetime.date(2018, 7, 15), Decimal('16.62')),
 ('Paid', '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75')),
 ('Paid', 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00')),
 ('Paid', 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40')),
 ('Paid', '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48')),
 ('Paid', '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59')),
 ('Paid', '263253243', datetime.date(2018, 7, 23), Decimal('44.44')),
 ('Paid', '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58')),
 ('Paid', '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99')),
 ('Paid', '963253240', datetime.date(2018, 7, 24), Decimal('67.00')),
 ('Paid', '97/222', datetime.date(2018, 7, 25), Decimal('1000.46')),
 ('Paid', '263253257', datetime.date(2018, 7, 30), Decimal('22.57')),
 ('Paid', '963253249', datetime.date(2018, 8, 2), Decimal('127.75'))]

In [72]:
%%sql # combine result set from the same two tables

SELECT invoice_number, vendor_name, '33% Payment' AS payment_type,
       invoice_total AS total, invoice_total * 0.333 AS payment
FROM Invoices i JOIN Vendors v ON i.vendor_id = v.vendor_id
WHERE invoice_total > 10000

UNION

SELECT invoice_number, vendor_name, '50% Payment' AS payment_type,
       invoice_total AS total, invoice_total * 0.5 AS payment
FROM Invoices i JOIN Vendors v ON i.vendor_id = v.vendor_id
WHERE invoice_total BETWEEN 500 AND 10000

UNION

SELECT invoice_number, vendor_name, 'Full amount' AS payment_type,
       invoice_total AS total, invoice_total AS payment
FROM Invoices i JOIN Vendors v ON i.vendor_id = v.vendor_id
WHERE invoice_total < 500

ORDER BY payment_type, vendor_name, invoice_number

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[('40318', 'Data Reproductions Corp', '33% Payment', Decimal('21842.00'), Decimal('7273.38600')),
 ('0-2058', 'Malloy Lithographing Inc', '33% Payment', Decimal('37966.19'), Decimal('12642.74127')),
 ('0-2060', 'Malloy Lithographing Inc', '33% Payment', Decimal('23517.58'), Decimal('7831.35414')),
 ('0-2436', 'Malloy Lithographing Inc', '33% Payment', Decimal('10976.06'), Decimal('3655.02798')),
 ('P-0259', 'Malloy Lithographing Inc', '33% Payment', Decimal('26881.40'), Decimal('8951.50620')),
 ('P-0608', 'Malloy Lithographing Inc', '33% Payment', Decimal('20551.18'), Decimal('6843.54294')),
 ('509786', 'Bertelsmann Industry Svcs. Inc', '50% Payment', Decimal('6940.25'), Decimal('3470.12500')),
 ('587056', 'Cahners Publishing Company', '50% Payment', Decimal('2184.50'), Decimal('1092.25000')),
 ('367447', 'Computerworld', '50% Payment', Decimal('2433.00'), Decimal('1216.50000')),
 ('75C-90227', 'Dean Witter Reynolds', '50% Payment', Decimal('1367.50'), Decimal('683.75000')),
 ('P02-3772', 'Digital Dreamworks', '50% Payment', Decimal('7125.34'), Decimal('3562.67000')),
 ('963253230', 'Federal Express Corporation', '50% Payment', Decimal('739.20'), Decimal('369.60000')),
 ('9982771', 'Ford Motor Credit Company', '50% Payment', Decimal('503.20'), Decimal('251.60000')),
 ('RTR-72-3662-X', 'Franchise Tax Board', '50% Payment', Decimal('1600.00'), Decimal('800.00000')),
 ('P02-88D77S7', 'Fresno County Tax Collector', '50% Payment', Decimal('856.92'), Decimal('428.46000')),
 ('Q545443', 'IBM', '50% Payment', Decimal('1083.58'), Decimal('541.79000')),
 ('31359783', 'Ingram', '50% Payment', Decimal('1575.00'), Decimal('787.50000')),
 ('31361833', 'Ingram', '50% Payment', Decimal('579.42'), Decimal('289.71000')),
 ('77290', 'Pollstar', '50% Payment', Decimal('1750.00'), Decimal('875.00000')),
 ('C73-24', "Reiter's Scientific & Pro Books", '50% Payment', Decimal('600.00'), Decimal('300.00000')),
 ('989319-417', 'United Parcel Service', '50% Payment', Decimal('2051.59'), Decimal('1025.79500')),
 ('989319-427', 'United Parcel Service', '50% Payment', Decimal('2115.81'), Decimal('1057.90500')),
 ('989319-437', 'United Parcel Service', '50% Payment', Decimal('2765.36'), Decimal('1382.68000')),
 ('989319-447', 'United Parcel Service', '50% Payment', Decimal('3689.99'), Decimal('1844.99500')),
 ('989319-457', 'United Parcel Service', '50% Payment', Decimal('3813.33'), Decimal('1906.66500')),
 ('989319-467', 'United Parcel Service', '50% Payment', Decimal('2318.03'), Decimal('1159.01500')),
 ('989319-477', 'United Parcel Service', '50% Payment', Decimal('2184.11'), Decimal('1092.05500')),
 ('989319-487', 'United Parcel Service', '50% Payment', Decimal('1927.54'), Decimal('963.77000')),
 ('989319-497', 'United Parcel Service', '50% Payment', Decimal('2312.20'), Decimal('1156.10000')),
 ('MABO1489', 'Wang Laboratories, Inc.', '50% Payment', Decimal('936.93'), Decimal('468.46500')),
 ('I77271-O01', 'Wells Fargo Bank', '50% Payment', Decimal('662.00'), Decimal('331.00000')),
 ('10843', 'Yesmed, Inc', '50% Payment', Decimal('4901.26'), Decimal('2450.63000')),
 ('97/222', 'Zylka Design', '50% Payment', Decimal('1000.46'), Decimal('500.23000')),
 ('97/465', 'Zylka Design', '50% Payment', Decimal('565.15'), Decimal('282.57500')),
 ('97/486', 'Zylka Design', '50% Payment', Decimal('953.10'), Decimal('476.55000')),
 ('97/488', 'Zylka Design', '50% Payment', Decimal('601.95'), Decimal('300.97500')),
 ('97/503', 'Zylka Design', '50% Payment', Decimal('639.77'), Decimal('319.88500')),
 ('97/522', 'Zylka Design', '50% Payment', Decimal('1962.13'), Decimal('981.06500')),
 ('97/553', 'Zylka Design', '50% Payment', Decimal('904.14'), Decimal('452.07000')),
 ('203339-13', 'Abbey Office Furnishings', 'Full amount', Decimal('17.50'), Decimal('17.50000')),
 ('547479217', 'Blue Cross', 'Full amount', Decimal('116.00'), Decimal('116.00000')),
 ('547480102', 'Blue Cross', 'Full amount', Decimal('224.00'), Decimal('224.00000')),
 ('547481328', 'Blue Cross', 'Full amount', Decimal('224.00'), Decimal('224.00000')),
 ('133560', 'Cardinal Business Media, Inc.', 'Full amount', Decimal('175.00'), Decimal('175.00000')),
 ('134116', 'Cardinal Business Media, Inc.', 'Full amount', Decimal('90.36'), Decimal('90.36000')),
 ('109596', 'Coffee Break Service', 'Full amount', Decimal('41.80'), Decimal('41.80000')),
 ('21-4748363', 'Compuserve', 'Full amount', Decimal('9.95'), Decimal('9.95000')),
 ('21-4923721', 'Compuserve', 'Full amount', Decimal('9.95'), Decimal('9.95000')),
 ('39104', 'Data Reproductions Corp', 'Full amount', Decimal('85.31'), Decimal('85.31000')),
 ('94007005', 'Dristas Groom & McCormick', 'Full amount', Decimal('220.00'), Decimal('220.00000')),
 ('972110', 'Edward Data Services', 'Full amount', Decimal('207.78'), Decimal('207.78000')),
 ('125520-1', 'Evans Executone Inc', 'Full amount', Decimal('95.00'), Decimal('95.00000')),
 ('1-200-5164', 'Federal Express Corporation', 'Full amount', Decimal('63.40'), Decimal('63.40000')),
 ('1-202-2978', 'Federal Express Corporation', 'Full amount', Decimal('33.00'), Decimal('33.00000')),
 ('2-000-2993', 'Federal Express Corporation', 'Full amount', Decimal('144.70'), Decimal('144.70000')),
 ('263253241', 'Federal Express Corporation', 'Full amount', Decimal('40.20'), Decimal('40.20000')),
 ('263253243', 'Federal Express Corporation', 'Full amount', Decimal('44.44'), Decimal('44.44000')),
 ('263253250', 'Federal Express Corporation', 'Full amount', Decimal('42.67'), Decimal('42.67000')),
 ('263253253', 'Federal Express Corporation', 'Full amount', Decimal('31.95'), Decimal('31.95000')),
 ('263253257', 'Federal Express Corporation', 'Full amount', Decimal('22.57'), Decimal('22.57000')),
 ('263253265', 'Federal Express Corporation', 'Full amount', Decimal('26.25'), Decimal('26.25000')),
 ('263253268', 'Federal Express Corporation', 'Full amount', Decimal('59.97'), Decimal('59.97000')),
 ('263253270', 'Federal Express Corporation', 'Full amount', Decimal('67.92'), Decimal('67.92000')),
 ('263253273', 'Federal Express Corporation', 'Full amount', Decimal('30.75'), Decimal('30.75000')),
 ('4-314-3057', 'Federal Express Corporation', 'Full amount', Decimal('13.75'), Decimal('13.75000')),
 ('4-321-2596', 'Federal Express Corporation', 'Full amount', Decimal('10.00'), Decimal('10.00000')),
 ('4-327-7357', 'Federal Express Corporation', 'Full amount', Decimal('162.75'), Decimal('162.75000')),
 ('4-342-8069', 'Federal Express Corporation', 'Full amount', Decimal('10.00'), Decimal('10.00000')),
 ('43966316', 'Federal Express Corporation', 'Full amount', Decimal('10.00'), Decimal('10.00000')),
 ('7548906-20', 'Federal Express Corporation', 'Full amount', Decimal('27.00'), Decimal('27.00000')),
 ('94007069', 'Federal Express Corporation', 'Full amount', Decimal('400.00'), Decimal('400.00000')),
 ('963253232', 'Federal Express Corporation', 'Full amount', Decimal('127.75'), Decimal('127.75000')),
 ('963253234', 'Federal Express Corporation', 'Full amount', Decimal('138.75'), Decimal('138.75000')),
 ('963253235', 'Federal Express Corporation', 'Full amount', Decimal('108.25'), Decimal('108.25000')),
 ('963253237', 'Federal Express Corporation', 'Full amount', Decimal('172.50'), Decimal('172.50000')),
 ('963253239', 'Federal Express Corporation', 'Full amount', Decimal('147.25'), Decimal('147.25000')),
 ('963253240', 'Federal Express Corporation', 'Full amount', Decimal('67.00'), Decimal('67.00000')),
 ('963253242', 'Federal Express Corporation', 'Full amount', Decimal('104.00'), Decimal('104.00000')),
 ('963253244', 'Federal Express Corporation', 'Full amount', Decimal('60.00'), Decimal('60.00000')),
 ('963253245', 'Federal Express Corporation', 'Full amount', Decimal('40.75'), Decimal('40.75000')),
 ('963253246', 'Federal Express Corporation', 'Full amount', Decimal('129.00'), Decimal('129.00000')),
 ('963253248', 'Federal Express Corporation', 'Full amount', Decimal('241.00'), Decimal('241.00000')),
 ('963253249', 'Federal Express Corporation', 'Full amount', Decimal('127.75'), Decimal('127.75000')),
 ('963253251', 'Federal Express Corporation', 'Full amount', Decimal('15.50'), Decimal('15.50000')),
 ('963253252', 'Federal Express Corporation', 'Full amount', Decimal('38.75'), Decimal('38.75000')),
 ('963253254', 'Federal Express Corporation', 'Full amount', Decimal('108.50'), Decimal('108.50000')),
 ('963253255', 'Federal Express Corporation', 'Full amount', Decimal('53.75'), Decimal('53.75000')),
 ('963253256', 'Federal Express Corporation', 'Full amount', Decimal('53.25'), Decimal('53.25000')),
 ('963253258', 'Federal Express Corporation', 'Full amount', Decimal('111.00'), Decimal('111.00000')),
 ('963253260', 'Federal Express Corporation', 'Full amount', Decimal('36.00'), Decimal('36.00000')),
 ('963253261', 'Federal Express Corporation', 'Full amount', Decimal('42.75'), Decimal('42.75000')),
 ('963253262', 'Federal Express Corporation', 'Full amount', Decimal('42.50'), Decimal('42.50000')),
 ('963253263', 'Federal Express Corporation', 'Full amount', Decimal('109.50'), Decimal('109.50000')),
 ('963253264', 'Federal Express Corporation', 'Full amount', Decimal('52.25'), Decimal('52.25000')),
 ('963253267', 'Federal Express Corporation', 'Full amount', Decimal('23.50'), Decimal('23.50000')),
 ('963253269', 'Federal Express Corporation', 'Full amount', Decimal('26.75'), Decimal('26.75000')),
 ('963253271', 'Federal Express Corporation', 'Full amount', Decimal('158.00'), Decimal('158.00000')),
 ('963253272', 'Federal Express Corporation', 'Full amount', Decimal('61.50'), Decimal('61.50000')),
 ('121897', 'Gostanian General Building', 'Full amount', Decimal('450.00'), Decimal('450.00000')),
 ('QP58872', 'IBM', 'Full amount', Decimal('116.54'), Decimal('116.54000')),
 ('111-92R-10092', 'Pacific Bell', 'Full amount', Decimal('46.21'), Decimal('46.21000')),
 ('111-92R-10093', 'Pacific Bell', 'Full amount', Decimal('39.77'), Decimal('39.77000')),
 ('111-92R-10094', 'Pacific Bell', 'Full amount', Decimal('19.67'), Decimal('19.67000')),
 ('111-92R-10095', 'Pacific Bell', 'Full amount', Decimal('32.70'), Decimal('32.70000')),
 ('111-92R-10096', 'Pacific Bell', 'Full amount', Decimal('16.33'), Decimal('16.33000')),
 ('111-92R-10097', 'Pacific Bell', 'Full amount', Decimal('16.33'), Decimal('16.33000')),
 ('CBM9920-M-T77109', 'Postmaster', 'Full amount', Decimal('290.00'), Decimal('290.00000')),
 ('24780512', 'Roadway Package System, Inc', 'Full amount', Decimal('6.00'), Decimal('6.00000')),
 ('24863706', 'Roadway Package System, Inc', 'Full amount', Decimal('6.00'), Decimal('6.00000')),
 ('24946731', 'Roadway Package System, Inc', 'Full amount', Decimal('25.67'), Decimal('25.67000')),
 ('25022117', 'Roadway Package System, Inc', 'Full amount', Decimal('6.00'), Decimal('6.00000')),
 ('111897', 'Suburban Propane', 'Full amount', Decimal('16.62'), Decimal('16.62000')),
 ('97-1024A', 'Wakefield Co', 'Full amount', Decimal('356.48'), Decimal('356.48000')),
 ('97/553B', 'Zylka Design', 'Full amount', Decimal('313.55'), Decimal('313.55000'))]

In [73]:
%%sql # similates a full outer join with union

SELECT department_name AS dept_name, d.department_number AS d_dept_no,
       e.department_number AS e_dept_no, last_name
FROM ex.Departments d LEFT JOIN ex.Employees e
  ON d.department_number = e.department_number

UNION

SELECT department_name AS dept_name, d.department_number AS d_dept_no,
       e.department_number AS e_dept_no, last_name
FROM ex.Departments d RIGHT JOIN ex.Employees e
  ON d.department_number = e.department_number

 * mysql+pymysql://w-alkao:***@localhost
10 rows affected.

[('Accounting', 1, 1, 'Hernandez'),
 ('Payroll', 2, 2, 'Aaronsen'),
 ('Payroll', 2, 2, 'Simonian'),
 ('Payroll', 2, 2, 'Smith'),
 ('Operations', 3, None, None),
 ('Personnel', 4, 4, "O'Leary"),
 ('Personnel', 4, 4, 'Jones'),
 ('Maintenance', 5, 5, 'Hardy'),
 (None, None, 6, 'Watson'),
 (None, None, 6, 'Locario')]

In [74]:
%%sql # similates a full outer join with union

SELECT department_name AS dept_name, d.department_number AS d_dept_no,
       e.department_number AS e_dept_no, last_name
FROM ex.Departments d LEFT JOIN ex.Employees e
  ON d.department_number = e.department_number

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('Accounting', 1, 1, 'Hernandez'),
 ('Payroll', 2, 2, 'Aaronsen'),
 ('Payroll', 2, 2, 'Simonian'),
 ('Payroll', 2, 2, 'Smith'),
 ('Operations', 3, None, None),
 ('Personnel', 4, 4, "O'Leary"),
 ('Personnel', 4, 4, 'Jones'),
 ('Maintenance', 5, 5, 'Hardy')]

In [75]:
%%sql

SELECT department_name AS dept_name, d.department_number AS d_dept_no,
       e.department_number AS e_dept_no, last_name
FROM ex.Departments d RIGHT JOIN ex.Employees e
  ON d.department_number = e.department_number

 * mysql+pymysql://w-alkao:***@localhost
9 rows affected.

[('Payroll', 2, 2, 'Smith'),
 ('Personnel', 4, 4, 'Jones'),
 ('Payroll', 2, 2, 'Simonian'),
 ('Accounting', 1, 1, 'Hernandez'),
 ('Payroll', 2, 2, 'Aaronsen'),
 (None, None, 6, 'Watson'),
 ('Maintenance', 5, 5, 'Hardy'),
 ('Personnel', 4, 4, "O'Leary"),
 (None, None, 6, 'Locario')]